.about_section {
  padding-top: 130px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .about_section .top {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .about_section .top .image_wrapper {
      position: relative;
      width: 76%;
      height: 455px; }
      .about_section .top .image_wrapper .single_words {
        position: absolute;
        top: -7.5%;
        left: -5%;
        width: 110%;
        height: 115%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        z-index: -1; }
        .about_section .top .image_wrapper .single_words h2 {
          opacity: 0.65; }
        .about_section .top .image_wrapper .single_words .word2 {
          align-self: start; }
      .about_section .top .image_wrapper .image_wrap {
        width: 100%;
        height: 100%; }
        .about_section .top .image_wrapper .image_wrap .about_image {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px; }
        .about_section .top .image_wrapper .image_wrap .image_overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #7b2243;
          opacity: 0.3;
          border-radius: 15px; }
    .about_section .top .content_wrapper {
      margin-top: -17%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      grid-gap: 35px;
      align-items: center;
      margin-bottom: 220px; }
      .about_section .top .content_wrapper .main_heading {
        width: 96vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        .about_section .top .content_wrapper .main_heading h1 {
          line-height: 90%; }
        .about_section .top .content_wrapper .main_heading .line2 {
          align-self: end; }
      .about_section .top .content_wrapper p {
        width: 84vw; }
  .about_section .bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 8px;
    padding-bottom: 30px; }
    .about_section .bottom p {
      opacity: 0.5;
      font-size: 14px; }
  @media only screen and (min-width: 700px) {
    .about_section {
      padding-top: 0px;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      display: grid;
      grid-template-rows: 1fr min-content;
      align-items: center; }
      .about_section .top {
        flex-direction: row; }
        .about_section .top .image_wrapper {
          width: 35vw;
          height: 480px; }
          .about_section .top .image_wrapper .single_words {
            top: 0;
            left: 0; }
            .about_section .top .image_wrapper .single_words h2 {
              opacity: 0.5;
              font-size: 68.8px; }
            .about_section .top .image_wrapper .single_words .word1 {
              margin-right: -33%; }
            .about_section .top .image_wrapper .single_words .word2 {
              align-self: start;
              margin-bottom: 3%; }
        .about_section .top .content_wrapper {
          height: 100%;
          width: 34vw;
          margin: 0;
          align-items: flex-start;
          justify-content: flex-end;
          margin-top: auto; }
          .about_section .top .content_wrapper .main_heading {
            width: 62vw;
            margin-left: -80%; }
            .about_section .top .content_wrapper .main_heading h1,
            .about_section .top .content_wrapper .main_heading .pink_dot {
              font-size: 68.8px; }
          .about_section .top .content_wrapper p {
            width: 26vw;
            margin-left: 35px; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .about_section .top .image_wrapper {
      width: 24vw;
      height: 480px;
      margin-left: -5%; }
      .about_section .top .image_wrapper .single_words h2 {
        font-size: 99.07px; }
      .about_section .top .image_wrapper .single_words .word1 {
        margin-right: -52%; }
      .about_section .top .image_wrapper .single_words .word2 {
        align-self: start;
        margin-bottom: 0%;
        margin-left: -30%; }
    .about_section .top .content_wrapper {
      width: 34vw; }
      .about_section .top .content_wrapper .main_heading {
        width: 64vw;
        margin-left: -45%; }
        .about_section .top .content_wrapper .main_heading h1,
        .about_section .top .content_wrapper .main_heading .pink_dot {
          font-size: 99.07px; }
        .about_section .top .content_wrapper .main_heading .pink_dot {
          margin-left: -18px; }
      .about_section .top .content_wrapper p {
        margin-left: 40px; } }
  @media only screen and (min-width: 1900px) {
    .about_section .top .image_wrapper {
      width: 21vw;
      height: 555px;
      margin-left: -5%; }
      .about_section .top .image_wrapper .single_words h2 {
        font-size: 118.88px; }
      .about_section .top .image_wrapper .single_words .word1 {
        margin-right: -52%; }
      .about_section .top .image_wrapper .single_words .word2 {
        align-self: start;
        margin-bottom: 0%;
        margin-left: -30%; }
    .about_section .top .content_wrapper {
      width: 34vw; }
      .about_section .top .content_wrapper .main_heading {
        width: 58vw;
        margin-left: -45%; }
        .about_section .top .content_wrapper .main_heading h1,
        .about_section .top .content_wrapper .main_heading .pink_dot {
          font-size: 118.88px;
          line-height: 85%; }
        .about_section .top .content_wrapper .main_heading .pink_dot {
          margin-left: -18px; }
      .about_section .top .content_wrapper p {
        width: 19vw;
        margin-left: 40px; } }
  @media only screen and (min-width: 2560px) {
    .about_section .top .image_wrapper {
      width: 23vw;
      height: 650px;
      margin-left: 0%; }
      .about_section .top .image_wrapper .single_words .word1 {
        margin-right: -35%; }
      .about_section .top .image_wrapper .single_words .word2 {
        margin-left: -20%; }
    .about_section .top .content_wrapper {
      width: 34vw;
      grid-gap: 50px; }
      .about_section .top .content_wrapper .main_heading {
        width: 43vw;
        margin-left: -40%; }
        .about_section .top .content_wrapper .main_heading h1,
        .about_section .top .content_wrapper .main_heading .pink_dot {
          font-size: 118.88px; }
      .about_section .top .content_wrapper p {
        width: 15vw; }
    .about_section .bottom {
      padding-bottom: 50px; }
      .about_section .bottom p {
        font-size: 16px; } }
