.about_section {
  padding-top: 130px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .about_section .top {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .about_section .top .image_wrapper {
      position: relative;
      width: 76%;
      height: 455px; }
      .about_section .top .image_wrapper .single_words {
        position: absolute;
        top: -7.5%;
        left: -5%;
        width: 110%;
        height: 115%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        z-index: -1; }
        .about_section .top .image_wrapper .single_words h2 {
          opacity: 0.6; }
        .about_section .top .image_wrapper .single_words .word2 {
          align-self: start; }
      .about_section .top .image_wrapper .image_wrap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 15px; }
