.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 18vh;
  padding-bottom: 180px; }
  .contact .content_wrapper {
    position: relative;
    margin-bottom: 10%; }
    .contact .content_wrapper .single_words {
      position: absolute;
      top: -13%;
      left: -4%;
      width: 88vw;
      height: 125%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      z-index: -1; }
      .contact .content_wrapper .single_words h2 {
        opacity: 0.65; }
      .contact .content_wrapper .single_words .word1 {
        align-self: start; }
      .contact .content_wrapper .single_words .word2 {
        align-self: end; }
    .contact .content_wrapper .main_heading {
      margin-left: 8vw; }
      .contact .content_wrapper .main_heading h1 {
        line-height: 100%;
        font-size: 47.78px;
        font-weight: 700; }
      .contact .content_wrapper .main_heading .line3 {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: 700;
        font-size: 47.78px;
        line-height: 64px;
        text-transform: lowercase; }
        .contact .content_wrapper .main_heading .line3 .pink_dot {
          margin-left: -10px; }
  .contact .form_wrapper {
    width: 84vw;
    margin: 0 auto 5vh; }
    .contact .form_wrapper form {
      display: flex;
      flex-direction: column; }
      .contact .form_wrapper form .name,
      .contact .form_wrapper form .email,
      .contact .form_wrapper form .message {
        width: 100%;
        display: block;
        padding: 30px 2px 10px;
        background: #0a0908;
        border: none;
        border-bottom: 1px solid rgba(255, 0, 114, 0.5);
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #fafafa;
        caret-color: #ff0072;
        resize: none;
        outline: none; }
        .contact .form_wrapper form .name:focus,
        .contact .form_wrapper form .email:focus,
        .contact .form_wrapper form .message:focus {
          background: #0a0908;
          border-bottom: 1px solid rgba(255, 0, 114, 0.5);
          transition: all 0.5s;
          color: #fafafa; }
      .contact .form_wrapper form input:-webkit-autofill,
      .contact .form_wrapper form input:-webkit-autofill:hover,
      .contact .form_wrapper form input:-webkit-autofill:focus,
      .contact .form_wrapper form input:-webkit-autofill:active {
        -webkit-transition-delay: 99999s;
        transition-delay: 99999s; }
      .contact .form_wrapper form .message {
        padding-top: 35px;
        line-height: 14px;
        padding-bottom: 0px; }
      .contact .form_wrapper form .submit {
        width: 40px;
        margin: 50px 0px 0px 0px; }
  .contact .contact_footer {
    overflow: hidden; }
    .contact .contact_footer .icons {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 8vw;
      grid-gap: 30px; }
    @media only screen and (min-width: 700px) {
      .contact .contact_footer {
        margin-bottom: 100px; } }
  @media only screen and (min-width: 500px) {
    .contact .content_wrapper .single_words {
      width: 74vw; } }
  @media only screen and (min-width: 700px) {
    .contact .content_wrapper .single_words {
      top: -20%;
      left: -5%;
      width: 100vw;
      height: 135%; }
      .contact .content_wrapper .single_words h2 {
        opacity: 0.5;
        font-size: 82.56px; }
    .contact .content_wrapper .main_heading {
      margin-left: 8vw; }
      .contact .content_wrapper .main_heading h1 {
        line-height: 100%;
        font-size: 82.56px;
        font-weight: 700; }
      .contact .content_wrapper .main_heading .line3,
      .contact .content_wrapper .main_heading .pink_dot {
        font-size: 82.56px; }
        .contact .content_wrapper .main_heading .line3 .pink_dot,
        .contact .content_wrapper .main_heading .pink_dot .pink_dot {
          margin-left: -15px; }
    .contact .form_wrapper {
      width: 350px;
      margin: 70px 0px 80px 8vw; } }
