.contact_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 18vh;
  padding-bottom: 20vh; }
  .contact_wrapper .content_wrapper {
    position: relative;
    margin-bottom: 20%; }
    .contact_wrapper .content_wrapper .single_words {
      position: absolute;
      top: -13%;
      left: -4%;
      width: 88vw;
      height: 125%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      z-index: -1; }
      .contact_wrapper .content_wrapper .single_words h2 {
        opacity: 0.65; }
      .contact_wrapper .content_wrapper .single_words .word1 {
        align-self: start; }
      .contact_wrapper .content_wrapper .single_words .word2 {
        align-self: end; }
    .contact_wrapper .content_wrapper .main_heading {
      margin-left: 8vw; }
      .contact_wrapper .content_wrapper .main_heading h1 {
        line-height: 100%;
        font-size: 39.81px;
        font-weight: 700; }
      .contact_wrapper .content_wrapper .main_heading .line3 {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: 700;
        font-size: 39.81px;
        line-height: 64px;
        text-transform: lowercase; }
        .contact_wrapper .content_wrapper .main_heading .line3 .pink_dot {
          margin-left: -10px; }
  .contact_wrapper .form_wrapper {
    width: 84vw;
    margin: 0 auto 20%; }
    .contact_wrapper .form_wrapper form {
      display: flex;
      flex-direction: column; }
      .contact_wrapper .form_wrapper form .name,
      .contact_wrapper .form_wrapper form .email,
      .contact_wrapper .form_wrapper form .message {
        width: 100%;
        display: block;
        padding: 30px 2px 10px;
        background: #0a0908;
        border: none;
        border-bottom: 1px solid rgba(255, 0, 114, 0.5);
        margin-bottom: 0.5px;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #fafafa;
        caret-color: #ff0072;
        resize: none;
        outline: none;
        user-select: none; }
        .contact_wrapper .form_wrapper form .name:hover, .contact_wrapper .form_wrapper form .name:focus,
        .contact_wrapper .form_wrapper form .email:hover,
        .contact_wrapper .form_wrapper form .email:focus,
        .contact_wrapper .form_wrapper form .message:hover,
        .contact_wrapper .form_wrapper form .message:focus {
          background: #0a0908;
          border-bottom: 1.5px solid #ff0072;
          transition: all 0.5s;
          color: #fafafa;
          margin-bottom: 0px; }
      .contact_wrapper .form_wrapper form input:-webkit-autofill,
      .contact_wrapper .form_wrapper form input:-webkit-autofill:hover,
      .contact_wrapper .form_wrapper form input:-webkit-autofill:focus,
      .contact_wrapper .form_wrapper form input:-webkit-autofill:active {
        -webkit-transition-delay: 99999s;
        transition-delay: 99999s; }
      .contact_wrapper .form_wrapper form .message {
        padding-top: 35px;
        line-height: 14px;
        padding-bottom: 0px; }
      .contact_wrapper .form_wrapper form .submit {
        width: 40px;
        margin: 50px 0px 0px 0px;
        opacity: 0.3;
        transition: opacity 0.3s ease-out;
        user-select: none; }
        .contact_wrapper .form_wrapper form .submit:hover, .contact_wrapper .form_wrapper form .submit:focus {
          opacity: 1; }
  .contact_wrapper .contact_footer .icons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 8vw;
    grid-gap: 10px;
    user-select: none; }
    .contact_wrapper .contact_footer .icons a {
      opacity: 0.4;
      transition: opacity 0.25s ease-out;
      padding: 10px; }
      .contact_wrapper .contact_footer .icons a:hover, .contact_wrapper .contact_footer .icons a:focus {
        opacity: 1; }
  .contact_wrapper .contact_footer p {
    display: none; }
  .contact_wrapper .email_alternate {
    display: none; }
  @media only screen and (min-width: 330px) {
    .contact_wrapper .content_wrapper .single_words {
      top: -16%;
      width: 95vw;
      height: 130%; }
      .contact_wrapper .content_wrapper .single_words h2 {
        opacity: 0.65;
        font-size: 47.78px; }
    .contact_wrapper .content_wrapper .main_heading {
      margin-left: 8vw; }
      .contact_wrapper .content_wrapper .main_heading h1 {
        font-size: 47.78px; }
      .contact_wrapper .content_wrapper .main_heading .line3 {
        font-size: 47.78px; }
        .contact_wrapper .content_wrapper .main_heading .line3 .pink_dot {
          margin-left: -10px; } }
  @media only screen and (min-width: 500px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 74vw; } }
  @media only screen and (min-width: 700px) {
    .contact_wrapper {
      padding-top: 25vh;
      padding-bottom: 20vh; }
      .contact_wrapper .content_wrapper {
        margin-bottom: 8%; }
        .contact_wrapper .content_wrapper .single_words {
          top: -20%;
          left: -5%;
          width: 95vw;
          height: 135%; }
          .contact_wrapper .content_wrapper .single_words h2 {
            opacity: 0.5;
            font-size: 82.56px; }
        .contact_wrapper .content_wrapper .main_heading {
          margin-left: 8vw; }
          .contact_wrapper .content_wrapper .main_heading h1 {
            line-height: 100%;
            font-size: 82.56px;
            font-weight: 700; }
          .contact_wrapper .content_wrapper .main_heading .line3,
          .contact_wrapper .content_wrapper .main_heading .pink_dot {
            font-size: 82.56px; }
            .contact_wrapper .content_wrapper .main_heading .line3 .pink_dot,
            .contact_wrapper .content_wrapper .main_heading .pink_dot .pink_dot {
              margin-left: -15px; }
      .contact_wrapper .form_wrapper {
        width: 350px;
        margin: 0px 0px 80px 8vw; } }
  @media only screen and (min-width: 850px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 70vw; } }
  @media only screen and (min-width: 1024px) {
    .contact_wrapper {
      padding-top: 25vh;
      padding-bottom: 20vh; }
      .contact_wrapper .content_wrapper {
        margin-bottom: 12%; }
        .contact_wrapper .content_wrapper .single_words {
          left: -3%;
          width: 75vw; }
      .contact_wrapper .form_wrapper {
        margin-bottom: 120px; } }
  @media only screen and (min-width: 1200px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 65vw; } }
  @media only screen and (min-width: 1360px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 58vw; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .contact_wrapper {
      height: 100vh;
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 0; }
      .contact_wrapper .content_wrapper {
        top: -5%;
        margin-bottom: 0; }
        .contact_wrapper .content_wrapper .single_words {
          top: -15%;
          width: 70vw;
          height: 130%; }
          .contact_wrapper .content_wrapper .single_words h2 {
            font-size: 118.88px; }
        .contact_wrapper .content_wrapper .main_heading {
          margin-left: 8vw;
          user-select: none; }
          .contact_wrapper .content_wrapper .main_heading h1 {
            font-size: 118.88px; }
          .contact_wrapper .content_wrapper .main_heading .line3,
          .contact_wrapper .content_wrapper .main_heading .pink_dot {
            font-size: 118.88px; }
            .contact_wrapper .content_wrapper .main_heading .line3 .pink_dot,
            .contact_wrapper .content_wrapper .main_heading .pink_dot .pink_dot {
              margin-left: -25px; }
      .contact_wrapper .form_wrapper {
        top: -6%;
        width: 350px;
        margin: 0px;
        margin: 0px 0px 200px 100px; }
      .contact_wrapper .contact_footer {
        position: absolute;
        bottom: 15%; }
        .contact_wrapper .contact_footer .email_alternate {
          display: block;
          font-family: "Montserrat", sans-serif;
          letter-spacing: -0.02em;
          margin-left: 8.5vw;
          margin-top: 1rem;
          display: flex; }
          .contact_wrapper .contact_footer .email_alternate .phrase1 {
            opacity: 0.5;
            color: #fafafa;
            font-size: 14px;
            font-weight: 400;
            user-select: none; }
          .contact_wrapper .contact_footer .email_alternate .phrase2 {
            color: #ff0072;
            font-size: 14px;
            margin-left: 6px;
            font-weight: 400;
            opacity: 0.8; } }
  @media only screen and (min-width: 1900px) {
    .contact_wrapper .content_wrapper {
      top: -5%;
      margin-bottom: 0; }
      .contact_wrapper .content_wrapper .single_words {
        top: -15%;
        width: 65vw;
        height: 130%; }
        .contact_wrapper .content_wrapper .single_words h2 {
          font-size: 142.66px; }
      .contact_wrapper .content_wrapper .main_heading {
        margin-left: 8vw; }
        .contact_wrapper .content_wrapper .main_heading h1 {
          font-size: 142.66px; }
        .contact_wrapper .content_wrapper .main_heading .line3,
        .contact_wrapper .content_wrapper .main_heading .pink_dot {
          font-size: 142.66px; }
    .contact_wrapper .form_wrapper {
      margin: 0px 0px 250px 150px; }
    .contact_wrapper .contact_footer {
      position: absolute;
      bottom: 15%; } }
  @media only screen and (min-width: 2100px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 55vw; }
    .contact_wrapper .content_wrapper .form_wrapper {
      width: 400px;
      margin: 0px 0px 300px 400px; } }
  @media only screen and (min-width: 2560px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 53vw; }
      .contact_wrapper .content_wrapper .single_words h2 {
        font-size: 142.66px; }
    .contact_wrapper .form_wrapper {
      width: 400px;
      margin: 0px 0px 300px 500px; }
    .contact_wrapper .contact_footer {
      position: absolute;
      bottom: 20%; } }
