.contact_footer {
  overflow: hidden;
  margin-bottom: 60px; }
  .contact_footer .icons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 8vw;
    grid-gap: 30px; }
