.hamburger_container {
  height: 100%;
  width: 100vw;
  background-color: #0a0908;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.1);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hamburger_container.active {
    left: 0;
    opacity: 1;
    transform: scale(1); }
    .hamburger_container.active .main_nav {
      pointer-events: all; }
  .hamburger_container h2 {
    font-size: 47.78px; }
  .hamburger_container .main_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-top: -23px;
    z-index: 2;
    pointer-events: none; }
    .hamburger_container .main_nav li {
      margin-bottom: 20px;
      position: relative;
      display: block;
      cursor: pointer;
      width: max-content; }
      .hamburger_container .main_nav li .nav_links {
        text-decoration: none;
        text-transform: uppercase;
        line-height: 160%;
        text-align: center;
        letter-spacing: -0.06em; }
        .hamburger_container .main_nav li .nav_links .numbers {
          font-family: Lato;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;
          color: #ff0072;
          opacity: 0.5; }
        .hamburger_container .main_nav li .nav_links .num_one {
          margin-right: 8px; }
        .hamburger_container .main_nav li .nav_links .left_word,
        .hamburger_container .main_nav li .nav_links .right_word {
          font-style: normal;
          font-weight: 600;
          font-size: 47.78px;
          color: #fafafa; }
        .hamburger_container .main_nav li .nav_links .left_word {
          font-family: Playfair Display;
          font-style: italic; }
        .hamburger_container .main_nav li .nav_links .right_word {
          font-family: Poppins; }
    .hamburger_container .main_nav .word1 .nav_links {
      display: flex;
      align-items: flex-end;
      grid-gap: 14px;
      margin-left: -15px; }
    .hamburger_container .main_nav .word2 .nav_links {
      display: flex;
      align-items: flex-end;
      margin-right: -30px; }
    .hamburger_container .main_nav .word3 {
      margin-left: -10px; }
    .hamburger_container .main_nav .word4 {
      margin-right: -22px; }

@media only screen and (min-width: 700px) {
  .hamburger_container h2 {
    font-size: 99.07px;
    opacity: 0.5; }
  .hamburger_container .main_nav {
    margin-top: -50px; }
    .hamburger_container .main_nav .word1 .nav_links,
    .hamburger_container .main_nav .word2 .nav_links,
    .hamburger_container .main_nav .word3 .nav_links,
    .hamburger_container .main_nav .word4 .nav_links {
      line-height: 240%; }
      .hamburger_container .main_nav .word1 .nav_links .numbers,
      .hamburger_container .main_nav .word2 .nav_links .numbers,
      .hamburger_container .main_nav .word3 .nav_links .numbers,
      .hamburger_container .main_nav .word4 .nav_links .numbers {
        font-size: 19.2px; }
      .hamburger_container .main_nav .word1 .nav_links .num_one,
      .hamburger_container .main_nav .word2 .nav_links .num_one,
      .hamburger_container .main_nav .word3 .nav_links .num_one,
      .hamburger_container .main_nav .word4 .nav_links .num_one {
        margin-right: 15px; }
      .hamburger_container .main_nav .word1 .nav_links .left_word,
      .hamburger_container .main_nav .word1 .nav_links .right_word,
      .hamburger_container .main_nav .word2 .nav_links .left_word,
      .hamburger_container .main_nav .word2 .nav_links .right_word,
      .hamburger_container .main_nav .word3 .nav_links .left_word,
      .hamburger_container .main_nav .word3 .nav_links .right_word,
      .hamburger_container .main_nav .word4 .nav_links .left_word,
      .hamburger_container .main_nav .word4 .nav_links .right_word {
        font-size: 99.07px;
        opacity: 1; }
    .hamburger_container .main_nav .word1 .nav_links {
      grid-gap: 25px; }
  .hamburger_container .footer {
    bottom: 5%; } }

@media only screen and (min-width: 1440px) and (orientation: landscape) {
  .hamburger_container h2 {
    font-size: 118.88px; }
  .hamburger_container .main_nav {
    margin-top: -60px; }
    .hamburger_container .main_nav li {
      margin-bottom: -5px; }
    .hamburger_container .main_nav .word1 .nav_links,
    .hamburger_container .main_nav .word2 .nav_links,
    .hamburger_container .main_nav .word3 .nav_links,
    .hamburger_container .main_nav .word4 .nav_links {
      line-height: 330%; }
      .hamburger_container .main_nav .word1 .nav_links .numbers,
      .hamburger_container .main_nav .word2 .nav_links .numbers,
      .hamburger_container .main_nav .word3 .nav_links .numbers,
      .hamburger_container .main_nav .word4 .nav_links .numbers {
        font-size: 23.04px; }
      .hamburger_container .main_nav .word1 .nav_links .num_one,
      .hamburger_container .main_nav .word2 .nav_links .num_one,
      .hamburger_container .main_nav .word3 .nav_links .num_one,
      .hamburger_container .main_nav .word4 .nav_links .num_one {
        margin-right: 20px; }
      .hamburger_container .main_nav .word1 .nav_links .left_word,
      .hamburger_container .main_nav .word1 .nav_links .right_word,
      .hamburger_container .main_nav .word2 .nav_links .left_word,
      .hamburger_container .main_nav .word2 .nav_links .right_word,
      .hamburger_container .main_nav .word3 .nav_links .left_word,
      .hamburger_container .main_nav .word3 .nav_links .right_word,
      .hamburger_container .main_nav .word4 .nav_links .left_word,
      .hamburger_container .main_nav .word4 .nav_links .right_word {
        font-size: 118.88px; } }

@media only screen and (min-width: 1900px) {
  .hamburger_container h2 {
    font-size: 142.66px; }
  .hamburger_container .main_nav {
    margin-top: -80px; }
    .hamburger_container .main_nav li {
      margin-bottom: -10px; }
    .hamburger_container .main_nav .word1 .nav_links,
    .hamburger_container .main_nav .word2 .nav_links,
    .hamburger_container .main_nav .word3 .nav_links,
    .hamburger_container .main_nav .word4 .nav_links {
      line-height: 350%; }
      .hamburger_container .main_nav .word1 .nav_links .numbers,
      .hamburger_container .main_nav .word2 .nav_links .numbers,
      .hamburger_container .main_nav .word3 .nav_links .numbers,
      .hamburger_container .main_nav .word4 .nav_links .numbers {
        font-size: 27.65px; }
      .hamburger_container .main_nav .word1 .nav_links .left_word,
      .hamburger_container .main_nav .word1 .nav_links .right_word,
      .hamburger_container .main_nav .word2 .nav_links .left_word,
      .hamburger_container .main_nav .word2 .nav_links .right_word,
      .hamburger_container .main_nav .word3 .nav_links .left_word,
      .hamburger_container .main_nav .word3 .nav_links .right_word,
      .hamburger_container .main_nav .word4 .nav_links .left_word,
      .hamburger_container .main_nav .word4 .nav_links .right_word {
        font-size: 142.66px; } }
