#navbar nav .hamburger_close {
  margin-left: auto; }
  #navbar nav .hamburger_close img {
    width: 10.85px;
    height: 10.85px; }

.hamburger_container {
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hamburger_container h2 {
    font-size: 47.78px; }
  .hamburger_container .main_nav {
    text-align: -webkit-center;
    list-style-type: none;
    margin-top: -23px;
    z-index: 2; }
    .hamburger_container .main_nav li {
      margin-bottom: 20px;
      position: relative;
      display: block;
      cursor: pointer;
      width: max-content; }
      .hamburger_container .main_nav li .nav_links {
        text-decoration: none;
        text-transform: uppercase;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.06em; }
        .hamburger_container .main_nav li .nav_links .number {
          font-family: Lato;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;
          color: #ff0072;
          opacity: 0.5; }
        .hamburger_container .main_nav li .nav_links .part1,
        .hamburger_container .main_nav li .nav_links .part2 {
          font-style: normal;
          font-weight: 600;
          font-size: 47.78px;
          color: #fafafa; }
        .hamburger_container .main_nav li .nav_links .part1 {
          font-family: Playfair Display;
          font-style: italic; }
        .hamburger_container .main_nav li .nav_links .part2 {
          font-family: Poppins; }
