#navbar {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s; }
  #navbar nav {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 4.92vh 8vw 2.4vh; }
    #navbar nav .logo img {
      width: 89.73px;
      height: 28.77px; }
    #navbar nav .hamburger_open {
      margin-left: auto; }
      #navbar nav .hamburger_open img {
        width: 17.95px;
        height: 6.23px; }
