#navbar {
  min-height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 99; }
  #navbar nav {
    display: flex;
    align-items: center;
    padding: 4.92vh 8vw 2.4vh;
    background: #0a0908;
    z-index: 999; }
    #navbar nav .logo {
      z-index: 2; }
      #navbar nav .logo img {
        width: 89.73px;
        height: 28.77px; }
    #navbar nav .hamburger_open {
      cursor: pointer;
      margin-left: auto;
      opacity: 0.8;
      transition: all 0.2s ease-out; }
      #navbar nav .hamburger_open:hover,
      #navbar nav .hamburger_open :focus {
        cursor: pointer;
        opacity: 1; }
      #navbar nav .hamburger_open .bar {
        display: block;
        width: 18px;
        height: 1px;
        background-color: #fff;
        margin: 6px auto;
        transition: all 0.25s ease-out; }
      #navbar nav .hamburger_open.active .bar:nth-child(1) {
        transform: translateY(3.45px) rotate(45deg); }
      #navbar nav .hamburger_open.active .bar:nth-child(2) {
        transform: translateY(-3.45px) rotate(-45deg); }
  @media only screen and (min-width: 700px) {
    #navbar nav .logo img {
      width: 99.23px;
      height: 30.71px; } }
  @media only screen and (min-width: 1024px) {
    #navbar nav .logo img {
      width: 121.84px;
      height: 37.7px; }
    #navbar nav .hamburger_open .bar {
      width: 22px;
      height: 1px;
      margin: 8px auto;
      transition: all 0.25s ease-out; }
    #navbar nav .hamburger_open.active .bar:nth-child(1) {
      transform: translateY(4.35px) rotate(45deg); }
    #navbar nav .hamburger_open.active .bar:nth-child(2) {
      transform: translateY(-4.35px) rotate(-45deg); } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    #navbar nav .logo img {
      width: 113.56px;
      height: 36.22px; } }
  @media only screen and (min-width: 1900px) {
    #navbar nav .logo img {
      margin-left: -20px;
      width: 141.1px;
      height: 45.25px; } }
  @media only screen and (min-width: 2560px) {
    #navbar nav {
      padding: 4.92vh 9.5vw 2.4vh; } }
