.landing {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .landing .single_words {
    opacity: 0.65; }
    .landing .single_words .word1 {
      position: absolute;
      top: 17.5vh;
      left: 57vw; }
    .landing .single_words .word2 {
      position: absolute;
      top: 51.3vh;
      left: 8vw; }
    .landing .single_words .word3 {
      position: absolute;
      top: 75.5vh;
      left: 62vw; }
  .landing .landing_image {
    height: 56.6vh;
    width: 61.6vw;
    margin: 21.6vh auto 0; }
    .landing .landing_image img {
      opacity: 0.8;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: rotate(180deg); }
  .landing .main_heading {
    position: absolute;
    top: 43.8vh; }
    .landing .main_heading .line1 {
      margin-left: 8vw; }
    .landing .main_heading .line2 {
      margin-left: 22vw; }
  @media only screen and (min-width: 700px) {
    .landing .single_words h2 {
      font-size: 82.56px;
      opacity: 0.5; }
    .landing .single_words .word1 {
      top: 11.3vh;
      left: 62.2vw;
      width: 265.33px;
      height: 85.39px;
      opacity: 0.5; }
    .landing .single_words .word2 {
      top: 56.2vh;
      left: 6vw;
      width: 285px;
      height: 65.57px;
      opacity: 0.5; }
    .landing .single_words .word3 {
      top: 78.4vh;
      left: 66.4vw;
      width: 224.17px;
      height: 65.57px;
      opacity: 0.5; }
    .landing .landing_image {
      height: 65.2vh;
      width: 56vw;
      margin: 17.3vh auto 0; }
    .landing .main_heading {
      font-size: 82.56px; }
      .landing .main_heading .line1 {
        margin-left: 6vw;
        font-size: 82.56px; }
      .landing .main_heading .line2 {
        margin-left: 21.8vw;
        font-size: 82.56px; }
        .landing .main_heading .line2 span {
          font-size: 82.56px;
          margin-left: -19px; } }
  @media only screen and (min-width: 1024px) {
    .landing .main_heading .line1 {
      margin-left: 10vw; }
    .landing .main_heading .line2 {
      margin-left: 31.7vw; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .landing .single_words h2 {
      font-size: 118.88px; }
    .landing .single_words .word1 {
      top: 18.5vh;
      left: 66.5vw;
      width: 381.12px;
      height: 122.07px; }
    .landing .single_words .word2 {
      top: 61vh;
      left: 6.9vw;
      width: 409.5px;
      height: 93.54px; }
    .landing .single_words .word3 {
      top: 65.3vh;
      left: 70vw;
      width: 321.91px;
      height: 93.54px; }
    .landing .landing_image {
      height: 83.1vh;
      width: 30.1vw; }
      .landing .landing_image img {
        transform: rotate(270deg);
        margin: 28.7vh auto 0; }
    .landing .main_heading .line1 {
      margin-left: 6.9vw;
      font-size: 118.88px; }
    .landing .main_heading .line2 {
      margin-left: 31.8vw;
      font-size: 118.88px; }
      .landing .main_heading .line2 span {
        font-size: 118.88px;
        margin-left: -29px; } }
  @media only screen and (min-width: 1900px) {
    .landing .single_words .word1 {
      top: 11.8vh;
      width: 456.94px;
      height: 146.09px; }
    .landing .single_words .word2 {
      left: 10vw;
      width: 491.02px;
      height: 111.85px; }
    .landing .single_words .word3 {
      width: 385.9px;
      height: 111.85px; } }
