.landing {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .landing .image_wrapper {
    position: relative;
    height: 57vh;
    width: 60vw; }
    .landing .image_wrapper .single_words {
      position: absolute;
      top: -6%;
      left: -25%;
      width: 84vw;
      height: 110%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      z-index: -1; }
      .landing .image_wrapper .single_words h2 {
        opacity: 0.65; }
      .landing .image_wrapper .single_words .word2 {
        align-self: start;
        margin-top: 17vh; }
    .landing .image_wrapper .landing_image {
      height: 100%;
      width: 100%; }
      .landing .image_wrapper .landing_image .large_img {
        display: none; }
      .landing .image_wrapper .landing_image .small_img {
        display: block;
        opacity: 0.8;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .landing .main_heading {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50%;
    transform: translateY(-50%);
    width: 88vw; }
    .landing .main_heading .line2 {
      align-self: end; }
