.landing {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  .landing .single_words {
    position: absolute;
    top: 15%;
    height: 64vh;
    width: 88vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    opacity: 0.65; }
    .landing .single_words h2 {
      width: min-content; }
    .landing .single_words .word2 {
      align-self: start;
      margin-top: 17vh; }
  .landing .landing_image {
    height: 57vh;
    width: 60vw; }
    .landing .landing_image .large_img {
      display: none; }
    .landing .landing_image .small_img {
      display: block;
      opacity: 0.8;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .landing .main_heading {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50%;
    transform: translateY(-50%);
    width: 88vw; }
    .landing .main_heading .line2 {
      align-self: end; }
  @media only screen and (min-width: 740px) {
    .landing .single_words {
      top: 15%;
      height: 72.6vh;
      width: 84vw;
      opacity: 0.5; }
      .landing .single_words h2 {
        font-size: 82.56px; }
    .landing .main_heading {
      width: 84vw;
      font-size: 82.56px; }
      .landing .main_heading .line1,
      .landing .main_heading .line2,
      .landing .main_heading .pink_dot {
        font-size: 82.56px; } }
  @media only screen and (min-width: 1024px) {
    .landing .single_words {
      top: 18.5%;
      height: 58.5vh;
      width: 84vw; }
      .landing .single_words h2 {
        font-size: 118.88px; }
      .landing .single_words .word2 {
        margin-top: 28vh; }
    .landing .landing_image {
      height: 46vh;
      width: 59vw; }
      .landing .landing_image .small_img {
        display: none; }
      .landing .landing_image .large_img {
        display: block;
        opacity: 0.8;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .landing .main_heading {
      width: 75vw;
      font-size: 118.88px; }
      .landing .main_heading .line1,
      .landing .main_heading .line2,
      .landing .main_heading .pink_dot {
        font-size: 118.88px; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .landing .single_words {
      top: 18.5%;
      height: 58.5vh;
      width: 84vw; }
      .landing .single_words h2 {
        font-size: 142.66px; }
      .landing .single_words .word2 {
        margin-top: 28vh; }
    .landing .landing_image {
      height: 46vh;
      width: 59vw; }
      .landing .landing_image .small_img {
        display: none; }
      .landing .landing_image .large_img {
        display: block;
        opacity: 0.8;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .landing .main_heading {
      width: 75vw;
      font-size: 142.66px; }
      .landing .main_heading .line1,
      .landing .main_heading .line2,
      .landing .main_heading .pink_dot {
        font-size: 142.66px; } }
