.project_section .food,
.project_section .torii,
.project_section .firewatch,
.project_section .resetdata,
.project_section .rapid_wireless,
.project_section .ui_ux {
  overflow-y: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 640px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .project_section .food .food_image,
  .project_section .food .torii_image,
  .project_section .food .firewatch_image,
  .project_section .food .resetdata_image,
  .project_section .food .rapid_wireless,
  .project_section .food .rd_image,
  .project_section .food .ui_ux_image,
  .project_section .torii .food_image,
  .project_section .torii .torii_image,
  .project_section .torii .firewatch_image,
  .project_section .torii .resetdata_image,
  .project_section .torii .rapid_wireless,
  .project_section .torii .rd_image,
  .project_section .torii .ui_ux_image,
  .project_section .firewatch .food_image,
  .project_section .firewatch .torii_image,
  .project_section .firewatch .firewatch_image,
  .project_section .firewatch .resetdata_image,
  .project_section .firewatch .rapid_wireless,
  .project_section .firewatch .rd_image,
  .project_section .firewatch .ui_ux_image,
  .project_section .resetdata .food_image,
  .project_section .resetdata .torii_image,
  .project_section .resetdata .firewatch_image,
  .project_section .resetdata .resetdata_image,
  .project_section .resetdata .rapid_wireless,
  .project_section .resetdata .rd_image,
  .project_section .resetdata .ui_ux_image,
  .project_section .rapid_wireless .food_image,
  .project_section .rapid_wireless .torii_image,
  .project_section .rapid_wireless .firewatch_image,
  .project_section .rapid_wireless .resetdata_image,
  .project_section .rapid_wireless .rapid_wireless,
  .project_section .rapid_wireless .rd_image,
  .project_section .rapid_wireless .ui_ux_image,
  .project_section .ui_ux .food_image,
  .project_section .ui_ux .torii_image,
  .project_section .ui_ux .firewatch_image,
  .project_section .ui_ux .resetdata_image,
  .project_section .ui_ux .rapid_wireless,
  .project_section .ui_ux .rd_image,
  .project_section .ui_ux .ui_ux_image {
    position: absolute;
    width: 100%;
    height: 100%; }
    .project_section .food .food_image img,
    .project_section .food .torii_image img,
    .project_section .food .firewatch_image img,
    .project_section .food .resetdata_image img,
    .project_section .food .rapid_wireless img,
    .project_section .food .rd_image img,
    .project_section .food .ui_ux_image img,
    .project_section .torii .food_image img,
    .project_section .torii .torii_image img,
    .project_section .torii .firewatch_image img,
    .project_section .torii .resetdata_image img,
    .project_section .torii .rapid_wireless img,
    .project_section .torii .rd_image img,
    .project_section .torii .ui_ux_image img,
    .project_section .firewatch .food_image img,
    .project_section .firewatch .torii_image img,
    .project_section .firewatch .firewatch_image img,
    .project_section .firewatch .resetdata_image img,
    .project_section .firewatch .rapid_wireless img,
    .project_section .firewatch .rd_image img,
    .project_section .firewatch .ui_ux_image img,
    .project_section .resetdata .food_image img,
    .project_section .resetdata .torii_image img,
    .project_section .resetdata .firewatch_image img,
    .project_section .resetdata .resetdata_image img,
    .project_section .resetdata .rapid_wireless img,
    .project_section .resetdata .rd_image img,
    .project_section .resetdata .ui_ux_image img,
    .project_section .rapid_wireless .food_image img,
    .project_section .rapid_wireless .torii_image img,
    .project_section .rapid_wireless .firewatch_image img,
    .project_section .rapid_wireless .resetdata_image img,
    .project_section .rapid_wireless .rapid_wireless img,
    .project_section .rapid_wireless .rd_image img,
    .project_section .rapid_wireless .ui_ux_image img,
    .project_section .ui_ux .food_image img,
    .project_section .ui_ux .torii_image img,
    .project_section .ui_ux .firewatch_image img,
    .project_section .ui_ux .resetdata_image img,
    .project_section .ui_ux .rapid_wireless img,
    .project_section .ui_ux .rd_image img,
    .project_section .ui_ux .ui_ux_image img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .project_section .food .food_image .image_overlay,
    .project_section .food .torii_image .image_overlay,
    .project_section .food .firewatch_image .image_overlay,
    .project_section .food .resetdata_image .image_overlay,
    .project_section .food .rapid_wireless .image_overlay,
    .project_section .food .rd_image .image_overlay,
    .project_section .food .ui_ux_image .image_overlay,
    .project_section .torii .food_image .image_overlay,
    .project_section .torii .torii_image .image_overlay,
    .project_section .torii .firewatch_image .image_overlay,
    .project_section .torii .resetdata_image .image_overlay,
    .project_section .torii .rapid_wireless .image_overlay,
    .project_section .torii .rd_image .image_overlay,
    .project_section .torii .ui_ux_image .image_overlay,
    .project_section .firewatch .food_image .image_overlay,
    .project_section .firewatch .torii_image .image_overlay,
    .project_section .firewatch .firewatch_image .image_overlay,
    .project_section .firewatch .resetdata_image .image_overlay,
    .project_section .firewatch .rapid_wireless .image_overlay,
    .project_section .firewatch .rd_image .image_overlay,
    .project_section .firewatch .ui_ux_image .image_overlay,
    .project_section .resetdata .food_image .image_overlay,
    .project_section .resetdata .torii_image .image_overlay,
    .project_section .resetdata .firewatch_image .image_overlay,
    .project_section .resetdata .resetdata_image .image_overlay,
    .project_section .resetdata .rapid_wireless .image_overlay,
    .project_section .resetdata .rd_image .image_overlay,
    .project_section .resetdata .ui_ux_image .image_overlay,
    .project_section .rapid_wireless .food_image .image_overlay,
    .project_section .rapid_wireless .torii_image .image_overlay,
    .project_section .rapid_wireless .firewatch_image .image_overlay,
    .project_section .rapid_wireless .resetdata_image .image_overlay,
    .project_section .rapid_wireless .rapid_wireless .image_overlay,
    .project_section .rapid_wireless .rd_image .image_overlay,
    .project_section .rapid_wireless .ui_ux_image .image_overlay,
    .project_section .ui_ux .food_image .image_overlay,
    .project_section .ui_ux .torii_image .image_overlay,
    .project_section .ui_ux .firewatch_image .image_overlay,
    .project_section .ui_ux .resetdata_image .image_overlay,
    .project_section .ui_ux .rapid_wireless .image_overlay,
    .project_section .ui_ux .rd_image .image_overlay,
    .project_section .ui_ux .ui_ux_image .image_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background: #7b2243;
      opacity: 0.2; }
  .project_section .food .food_image .large_img,
  .project_section .torii .food_image .large_img,
  .project_section .firewatch .food_image .large_img,
  .project_section .resetdata .food_image .large_img,
  .project_section .rapid_wireless .food_image .large_img,
  .project_section .ui_ux .food_image .large_img {
    display: none; }
  .project_section .food .ui_ux_image img,
  .project_section .torii .ui_ux_image img,
  .project_section .firewatch .ui_ux_image img,
  .project_section .resetdata .ui_ux_image img,
  .project_section .rapid_wireless .ui_ux_image img,
  .project_section .ui_ux .ui_ux_image img {
    opacity: 0.75; }
  .project_section .food .main_text,
  .project_section .torii .main_text,
  .project_section .firewatch .main_text,
  .project_section .resetdata .main_text,
  .project_section .rapid_wireless .main_text,
  .project_section .ui_ux .main_text {
    position: absolute;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 47.78px;
    letter-spacing: -0.02em;
    text-decoration: none;
    line-height: 90%;
    text-align: center; }

@media only screen and (min-width: 700px) {
  .project_section .food .main_text,
  .project_section .torii .main_text,
  .project_section .firewatch .main_text,
  .project_section .resetdata .main_text,
  .project_section .rapid_wireless .main_text,
  .project_section .ui_ux .main_text {
    font-size: 99.07px; } }

@media only screen and (min-width: 1440px) and (orientation: landscape) {
  .project_section .food .food_image .small_img,
  .project_section .torii .food_image .small_img,
  .project_section .firewatch .food_image .small_img,
  .project_section .resetdata .food_image .small_img,
  .project_section .rapid_wireless .food_image .small_img,
  .project_section .ui_ux .food_image .small_img {
    display: none; }
  .project_section .food .food_image .large_img,
  .project_section .torii .food_image .large_img,
  .project_section .firewatch .food_image .large_img,
  .project_section .resetdata .food_image .large_img,
  .project_section .rapid_wireless .food_image .large_img,
  .project_section .ui_ux .food_image .large_img {
    display: block; }
  .project_section .food .main_text,
  .project_section .torii .main_text,
  .project_section .firewatch .main_text,
  .project_section .resetdata .main_text,
  .project_section .rapid_wireless .main_text,
  .project_section .ui_ux .main_text {
    font-size: 118.88px; } }

@media only screen and (min-width: 1900px) {
  .project_section .food .main_text,
  .project_section .torii .main_text,
  .project_section .firewatch .main_text,
  .project_section .resetdata .main_text,
  .project_section .rapid_wireless .main_text,
  .project_section .ui_ux .main_text {
    font-size: 142.66px; } }
