@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
#navbar {
  min-height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 10; }
  #navbar nav {
    display: flex;
    align-items: center;
    padding: 4.92vh 8vw 2.4vh;
    background: #0a0908;
    z-index: 999; }
    #navbar nav .logo {
      z-index: 2; }
      #navbar nav .logo img {
        width: 89.73px;
        height: 28.77px; }
    #navbar nav .hamburger_open {
      cursor: pointer;
      margin-left: auto;
      opacity: 0.8;
      transition: all 0.2s ease-out; }
      #navbar nav .hamburger_open:hover,
      #navbar nav .hamburger_open :focus {
        cursor: pointer;
        opacity: 1; }
      #navbar nav .hamburger_open .bar {
        display: block;
        width: 18px;
        height: 1px;
        background-color: #fff;
        margin: 6px auto;
        transition: all 0.25s ease-out; }
      #navbar nav .hamburger_open.active .bar:nth-child(1) {
        transform: translateY(3.45px) rotate(45deg); }
      #navbar nav .hamburger_open.active .bar:nth-child(2) {
        transform: translateY(-3.45px) rotate(-45deg); }
  @media only screen and (min-width: 700px) {
    #navbar nav .logo img {
      width: 99.23px;
      height: 30.71px; } }
  @media only screen and (min-width: 1024px) {
    #navbar nav .logo img {
      width: 121.84px;
      height: 37.7px; }
    #navbar nav .hamburger_open .bar {
      width: 22px;
      height: 1px;
      margin: 8px auto;
      transition: all 0.25s ease-out; }
    #navbar nav .hamburger_open.active .bar:nth-child(1) {
      transform: translateY(4.35px) rotate(45deg); }
    #navbar nav .hamburger_open.active .bar:nth-child(2) {
      transform: translateY(-4.35px) rotate(-45deg); } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    #navbar nav .logo img {
      width: 113.56px;
      height: 36.22px; } }
  @media only screen and (min-width: 1900px) {
    #navbar nav .logo img {
      margin-left: -20px;
      width: 141.1px;
      height: 45.25px; } }
  @media only screen and (min-width: 2560px) {
    #navbar nav {
      padding: 4.92vh 9.5vw 2.4vh; } }

.landing {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .landing .image_wrapper {
    position: relative;
    height: 57vh;
    width: 60vw; }
    .landing .image_wrapper .single_words {
      position: absolute;
      top: -7%;
      left: -25%;
      width: 84vw;
      height: 112%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      z-index: -1; }
      .landing .image_wrapper .single_words h2 {
        opacity: 0.65; }
      .landing .image_wrapper .single_words .word2 {
        align-self: start;
        margin-top: 17vh; }
    .landing .image_wrapper .landing_image {
      height: 100%;
      width: 100%; }
      .landing .image_wrapper .landing_image .large_img {
        display: none; }
      .landing .image_wrapper .landing_image .small_img {
        display: block;
        opacity: 0.8;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .landing .main_heading {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50%;
    transform: translateY(-50%);
    width: 88vw; }
    .landing .main_heading .line2 {
      align-self: end; }
  @media only screen and (min-width: 500px) {
    .landing .main_heading {
      width: 75vw; } }
  @media only screen and (min-width: 600px) {
    .landing .main_heading {
      width: 55vw; } }
  @media only screen and (min-width: 700px) {
    .landing {
      margin-top: 0; }
      .landing .image_wrapper {
        height: 65vh;
        width: 56vw; }
        .landing .image_wrapper .single_words {
          top: -8%;
          height: 115%; }
          .landing .image_wrapper .single_words h2 {
            opacity: 0.5;
            font-size: 82.56px; }
      .landing .main_heading {
        width: 84vw;
        font-size: 82.56px; }
        .landing .main_heading .line1,
        .landing .main_heading .line2,
        .landing .main_heading .pink_dot {
          font-size: 82.56px; }
        .landing .main_heading .pink_dot {
          margin-left: -13px; } }
  @media only screen and (min-width: 1024px) {
    .landing .main_heading {
      width: 70vw; } }
  @media only screen and (min-width: 1300px) {
    .landing .main_heading {
      width: 50vw; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .landing .image_wrapper {
      height: 54vh;
      width: 59vw; }
      .landing .image_wrapper .single_words {
        top: -20%;
        height: 120%;
        width: 86vw; }
        .landing .image_wrapper .single_words h2 {
          font-size: 118.88px; }
        .landing .image_wrapper .single_words .word2 {
          margin-top: 35vh; }
      .landing .image_wrapper .landing_image .small_img {
        display: none; }
      .landing .image_wrapper .landing_image .large_img {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        border-radius: 20px;
        object-fit: cover; }
    .landing .main_heading {
      width: 75vw;
      font-size: 118.88px; }
      .landing .main_heading .line1,
      .landing .main_heading .line2,
      .landing .main_heading .pink_dot {
        font-size: 118.88px; }
      .landing .main_heading .pink_dot {
        margin-left: -25px; } }
  @media only screen and (min-width: 1900px) {
    .landing .image_wrapper {
      height: 51vh;
      width: 59vw; }
      .landing .image_wrapper .single_words {
        top: -25%;
        height: 110%;
        width: 86vw; }
        .landing .image_wrapper .single_words h2 {
          font-size: 142.66px; }
        .landing .image_wrapper .single_words .word2 {
          margin-top: 28vh; }
    .landing .main_heading {
      width: 71vw;
      font-size: 142.66px; }
      .landing .main_heading .line1,
      .landing .main_heading .line2,
      .landing .main_heading .pink_dot {
        font-size: 142.66px; }
      .landing .main_heading .pink_dot {
        margin-left: -30px; } }
  @media only screen and (min-width: 2200px) {
    .landing .main_heading {
      width: 55vw; } }
  @media only screen and (min-width: 2560px) {
    .landing .image_wrapper .single_words {
      top: -15%;
      height: 120%;
      width: 83vw; }
      .landing .image_wrapper .single_words .word2 {
        margin-top: 35vh;
        margin-left: 5%; }
    .landing .main_heading {
      width: 50vw; } }

.about_section {
  padding-top: 130px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .about_section .top {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .about_section .top .image_wrapper {
      position: relative;
      width: 76%;
      height: 455px; }
      .about_section .top .image_wrapper .single_words {
        position: absolute;
        top: -7.5%;
        left: -5%;
        width: 110%;
        height: 115%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        z-index: -1; }
        .about_section .top .image_wrapper .single_words h2 {
          opacity: 0.65; }
        .about_section .top .image_wrapper .single_words .word2 {
          align-self: start; }
      .about_section .top .image_wrapper .image_wrap {
        width: 100%;
        height: 100%; }
        .about_section .top .image_wrapper .image_wrap .about_image {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px; }
        .about_section .top .image_wrapper .image_wrap .image_overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #7b2243;
          opacity: 0.3;
          border-radius: 15px; }
    .about_section .top .content_wrapper {
      margin-top: -17%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      grid-gap: 35px;
      align-items: center;
      margin-bottom: 220px; }
      .about_section .top .content_wrapper .main_heading {
        width: 89vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        .about_section .top .content_wrapper .main_heading h1 {
          line-height: 90%; }
        .about_section .top .content_wrapper .main_heading .line2 {
          align-self: end; }
      .about_section .top .content_wrapper p {
        width: 84vw; }
  .about_section .bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 8px;
    padding-bottom: 30px; }
    .about_section .bottom p {
      opacity: 0.5;
      font-size: 14px; }
  @media only screen and (min-width: 340px) {
    .about_section .top .content_wrapper .main_heading {
      width: 96vw; } }
  @media only screen and (min-width: 500px) {
    .about_section .top .content_wrapper .main_heading {
      width: 80vw; }
    .about_section .top .content_wrapper p {
      width: 65vw; } }
  @media only screen and (min-width: 620px) {
    .about_section .top .content_wrapper .main_heading {
      width: 65vw; }
    .about_section .top .content_wrapper p {
      width: 60vw; } }
  @media only screen and (min-width: 700px) {
    .about_section {
      padding-top: 0px;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      display: grid;
      grid-template-rows: 1fr min-content;
      align-items: center; }
      .about_section .top {
        flex-direction: row; }
        .about_section .top .image_wrapper {
          width: 35vw;
          height: 480px; }
          .about_section .top .image_wrapper .single_words {
            top: 0;
            left: 0;
            width: 120%; }
            .about_section .top .image_wrapper .single_words h2 {
              opacity: 0.5;
              font-size: 68.8px; }
            .about_section .top .image_wrapper .single_words .word1 {
              margin-right: -33%; }
            .about_section .top .image_wrapper .single_words .word2 {
              align-self: start;
              margin-bottom: 3%; }
        .about_section .top .content_wrapper {
          height: 100%;
          width: 34vw;
          margin: 0;
          align-items: flex-start;
          justify-content: flex-end;
          margin-top: auto;
          grid-gap: 28px; }
          .about_section .top .content_wrapper .main_heading {
            width: 80vw;
            margin-left: -105%; }
            .about_section .top .content_wrapper .main_heading h1,
            .about_section .top .content_wrapper .main_heading .pink_dot {
              font-size: 68.8px; }
          .about_section .top .content_wrapper p {
            width: 32vw;
            margin-left: 35px; } }
  @media only screen and (min-width: 800px) {
    .about_section .top .image_wrapper .single_words {
      width: 118%; }
    .about_section .top .content_wrapper .main_heading {
      width: 73vw;
      margin-left: -90%; }
      .about_section .top .content_wrapper .main_heading h1,
      .about_section .top .content_wrapper .main_heading .pink_dot {
        margin-left: -12px; } }
  @media only screen and (min-width: 1024px) {
    .about_section .top .image_wrapper .single_words {
      width: 110%; }
    .about_section .top .content_wrapper .main_heading {
      width: 62vw; }
    .about_section .top .content_wrapper p {
      width: 30vw; } }
  @media only screen and (min-width: 1300px) {
    .about_section .top .image_wrapper .single_words {
      width: 100%; }
    .about_section .top .content_wrapper .main_heading {
      width: 45vw;
      margin-left: -60%; }
    .about_section .top .content_wrapper p {
      width: 28vw; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .about_section .top .image_wrapper {
      width: 24vw;
      height: 480px;
      margin-left: -5%; }
      .about_section .top .image_wrapper .single_words {
        width: 108%; }
        .about_section .top .image_wrapper .single_words h2 {
          font-size: 99.07px; }
        .about_section .top .image_wrapper .single_words .word1 {
          margin-right: -52%; }
        .about_section .top .image_wrapper .single_words .word2 {
          align-self: start;
          margin-bottom: 0%;
          margin-left: -30%; }
    .about_section .top .content_wrapper {
      width: 34vw; }
      .about_section .top .content_wrapper .main_heading {
        width: 60vw;
        margin-left: -45%; }
        .about_section .top .content_wrapper .main_heading h1,
        .about_section .top .content_wrapper .main_heading .pink_dot {
          font-size: 99.07px; }
        .about_section .top .content_wrapper .main_heading .pink_dot {
          margin-left: -18px; }
      .about_section .top .content_wrapper p {
        margin-left: 40px;
        width: 25vw; } }
  @media only screen and (min-width: 1900px) {
    .about_section .top .image_wrapper {
      width: 21vw;
      height: 555px;
      margin-left: -5%; }
      .about_section .top .image_wrapper .single_words {
        width: 112%; }
        .about_section .top .image_wrapper .single_words h2 {
          font-size: 118.88px; }
        .about_section .top .image_wrapper .single_words .word1 {
          margin-right: -52%; }
        .about_section .top .image_wrapper .single_words .word2 {
          align-self: start;
          margin-bottom: 0%;
          margin-left: -30%; }
    .about_section .top .content_wrapper {
      width: 34vw; }
      .about_section .top .content_wrapper .main_heading {
        width: 58vw;
        margin-left: -45%; }
        .about_section .top .content_wrapper .main_heading h1,
        .about_section .top .content_wrapper .main_heading .pink_dot {
          font-size: 118.88px;
          line-height: 85%; }
        .about_section .top .content_wrapper .main_heading .pink_dot {
          margin-left: -18px; }
      .about_section .top .content_wrapper p {
        width: 19vw;
        margin-left: 40px; } }
  @media only screen and (min-width: 2100px) {
    .about_section .top .image_wrapper .single_words {
      width: 105%; }
    .about_section .top .content_wrapper .main_heading {
      width: 45vw;
      margin-left: -40%; }
    .about_section .top .content_wrapper p {
      width: 15vw; } }
  @media only screen and (min-width: 2560px) {
    .about_section .top .image_wrapper {
      width: 23vw;
      height: 650px;
      margin-left: 0%; }
      .about_section .top .image_wrapper .single_words {
        width: 110%; }
        .about_section .top .image_wrapper .single_words .word1 {
          margin-right: -35%; }
        .about_section .top .image_wrapper .single_words .word2 {
          margin-left: -20%; }
    .about_section .top .content_wrapper {
      width: 34vw;
      grid-gap: 50px; }
      .about_section .top .content_wrapper .main_heading {
        width: 43vw;
        margin-left: -40%; }
        .about_section .top .content_wrapper .main_heading h1,
        .about_section .top .content_wrapper .main_heading .pink_dot {
          font-size: 118.88px; }
      .about_section .top .content_wrapper p {
        width: 15vw; }
    .about_section .bottom {
      padding-bottom: 50px; }
      .about_section .bottom p {
        font-size: 16px; } }

.project_section .food,
.project_section .torii,
.project_section .firewatch,
.project_section .resetdata,
.project_section .rapid_wireless,
.project_section .ui_ux {
  overflow-y: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 640px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .project_section .food .food_image,
  .project_section .food .torii_image,
  .project_section .food .firewatch_image,
  .project_section .food .resetdata_image,
  .project_section .food .rapid_wireless,
  .project_section .food .rd_image,
  .project_section .food .ui_ux_image,
  .project_section .torii .food_image,
  .project_section .torii .torii_image,
  .project_section .torii .firewatch_image,
  .project_section .torii .resetdata_image,
  .project_section .torii .rapid_wireless,
  .project_section .torii .rd_image,
  .project_section .torii .ui_ux_image,
  .project_section .firewatch .food_image,
  .project_section .firewatch .torii_image,
  .project_section .firewatch .firewatch_image,
  .project_section .firewatch .resetdata_image,
  .project_section .firewatch .rapid_wireless,
  .project_section .firewatch .rd_image,
  .project_section .firewatch .ui_ux_image,
  .project_section .resetdata .food_image,
  .project_section .resetdata .torii_image,
  .project_section .resetdata .firewatch_image,
  .project_section .resetdata .resetdata_image,
  .project_section .resetdata .rapid_wireless,
  .project_section .resetdata .rd_image,
  .project_section .resetdata .ui_ux_image,
  .project_section .rapid_wireless .food_image,
  .project_section .rapid_wireless .torii_image,
  .project_section .rapid_wireless .firewatch_image,
  .project_section .rapid_wireless .resetdata_image,
  .project_section .rapid_wireless .rapid_wireless,
  .project_section .rapid_wireless .rd_image,
  .project_section .rapid_wireless .ui_ux_image,
  .project_section .ui_ux .food_image,
  .project_section .ui_ux .torii_image,
  .project_section .ui_ux .firewatch_image,
  .project_section .ui_ux .resetdata_image,
  .project_section .ui_ux .rapid_wireless,
  .project_section .ui_ux .rd_image,
  .project_section .ui_ux .ui_ux_image {
    position: absolute;
    width: 100%;
    height: 100%; }
    .project_section .food .food_image img,
    .project_section .food .torii_image img,
    .project_section .food .firewatch_image img,
    .project_section .food .resetdata_image img,
    .project_section .food .rapid_wireless img,
    .project_section .food .rd_image img,
    .project_section .food .ui_ux_image img,
    .project_section .torii .food_image img,
    .project_section .torii .torii_image img,
    .project_section .torii .firewatch_image img,
    .project_section .torii .resetdata_image img,
    .project_section .torii .rapid_wireless img,
    .project_section .torii .rd_image img,
    .project_section .torii .ui_ux_image img,
    .project_section .firewatch .food_image img,
    .project_section .firewatch .torii_image img,
    .project_section .firewatch .firewatch_image img,
    .project_section .firewatch .resetdata_image img,
    .project_section .firewatch .rapid_wireless img,
    .project_section .firewatch .rd_image img,
    .project_section .firewatch .ui_ux_image img,
    .project_section .resetdata .food_image img,
    .project_section .resetdata .torii_image img,
    .project_section .resetdata .firewatch_image img,
    .project_section .resetdata .resetdata_image img,
    .project_section .resetdata .rapid_wireless img,
    .project_section .resetdata .rd_image img,
    .project_section .resetdata .ui_ux_image img,
    .project_section .rapid_wireless .food_image img,
    .project_section .rapid_wireless .torii_image img,
    .project_section .rapid_wireless .firewatch_image img,
    .project_section .rapid_wireless .resetdata_image img,
    .project_section .rapid_wireless .rapid_wireless img,
    .project_section .rapid_wireless .rd_image img,
    .project_section .rapid_wireless .ui_ux_image img,
    .project_section .ui_ux .food_image img,
    .project_section .ui_ux .torii_image img,
    .project_section .ui_ux .firewatch_image img,
    .project_section .ui_ux .resetdata_image img,
    .project_section .ui_ux .rapid_wireless img,
    .project_section .ui_ux .rd_image img,
    .project_section .ui_ux .ui_ux_image img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .project_section .food .food_image .image_overlay,
    .project_section .food .torii_image .image_overlay,
    .project_section .food .firewatch_image .image_overlay,
    .project_section .food .resetdata_image .image_overlay,
    .project_section .food .rapid_wireless .image_overlay,
    .project_section .food .rd_image .image_overlay,
    .project_section .food .ui_ux_image .image_overlay,
    .project_section .torii .food_image .image_overlay,
    .project_section .torii .torii_image .image_overlay,
    .project_section .torii .firewatch_image .image_overlay,
    .project_section .torii .resetdata_image .image_overlay,
    .project_section .torii .rapid_wireless .image_overlay,
    .project_section .torii .rd_image .image_overlay,
    .project_section .torii .ui_ux_image .image_overlay,
    .project_section .firewatch .food_image .image_overlay,
    .project_section .firewatch .torii_image .image_overlay,
    .project_section .firewatch .firewatch_image .image_overlay,
    .project_section .firewatch .resetdata_image .image_overlay,
    .project_section .firewatch .rapid_wireless .image_overlay,
    .project_section .firewatch .rd_image .image_overlay,
    .project_section .firewatch .ui_ux_image .image_overlay,
    .project_section .resetdata .food_image .image_overlay,
    .project_section .resetdata .torii_image .image_overlay,
    .project_section .resetdata .firewatch_image .image_overlay,
    .project_section .resetdata .resetdata_image .image_overlay,
    .project_section .resetdata .rapid_wireless .image_overlay,
    .project_section .resetdata .rd_image .image_overlay,
    .project_section .resetdata .ui_ux_image .image_overlay,
    .project_section .rapid_wireless .food_image .image_overlay,
    .project_section .rapid_wireless .torii_image .image_overlay,
    .project_section .rapid_wireless .firewatch_image .image_overlay,
    .project_section .rapid_wireless .resetdata_image .image_overlay,
    .project_section .rapid_wireless .rapid_wireless .image_overlay,
    .project_section .rapid_wireless .rd_image .image_overlay,
    .project_section .rapid_wireless .ui_ux_image .image_overlay,
    .project_section .ui_ux .food_image .image_overlay,
    .project_section .ui_ux .torii_image .image_overlay,
    .project_section .ui_ux .firewatch_image .image_overlay,
    .project_section .ui_ux .resetdata_image .image_overlay,
    .project_section .ui_ux .rapid_wireless .image_overlay,
    .project_section .ui_ux .rd_image .image_overlay,
    .project_section .ui_ux .ui_ux_image .image_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background: #7b2243;
      opacity: 0.2; }
  .project_section .food .food_image .large_img,
  .project_section .torii .food_image .large_img,
  .project_section .firewatch .food_image .large_img,
  .project_section .resetdata .food_image .large_img,
  .project_section .rapid_wireless .food_image .large_img,
  .project_section .ui_ux .food_image .large_img {
    display: none; }
  .project_section .food .main_text,
  .project_section .torii .main_text,
  .project_section .firewatch .main_text,
  .project_section .resetdata .main_text,
  .project_section .rapid_wireless .main_text,
  .project_section .ui_ux .main_text {
    position: absolute;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 47.78px;
    letter-spacing: -0.02em;
    text-decoration: none;
    line-height: 90%;
    text-align: center; }

@media only screen and (min-width: 700px) {
  .project_section .food .main_text,
  .project_section .torii .main_text,
  .project_section .firewatch .main_text,
  .project_section .resetdata .main_text,
  .project_section .rapid_wireless .main_text,
  .project_section .ui_ux .main_text {
    font-size: 99.07px; } }

@media only screen and (min-width: 1440px) and (orientation: landscape) {
  .project_section .food .food_image .small_img,
  .project_section .torii .food_image .small_img,
  .project_section .firewatch .food_image .small_img,
  .project_section .resetdata .food_image .small_img,
  .project_section .rapid_wireless .food_image .small_img,
  .project_section .ui_ux .food_image .small_img {
    display: none; }
  .project_section .food .food_image .large_img,
  .project_section .torii .food_image .large_img,
  .project_section .firewatch .food_image .large_img,
  .project_section .resetdata .food_image .large_img,
  .project_section .rapid_wireless .food_image .large_img,
  .project_section .ui_ux .food_image .large_img {
    display: block; }
  .project_section .food .main_text,
  .project_section .torii .main_text,
  .project_section .firewatch .main_text,
  .project_section .resetdata .main_text,
  .project_section .rapid_wireless .main_text,
  .project_section .ui_ux .main_text {
    font-size: 118.88px; } }

@media only screen and (min-width: 1900px) {
  .project_section .food .main_text,
  .project_section .torii .main_text,
  .project_section .firewatch .main_text,
  .project_section .resetdata .main_text,
  .project_section .rapid_wireless .main_text,
  .project_section .ui_ux .main_text {
    font-size: 142.66px; } }

.contact_wrapper {
  position: relative;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  padding-top: 200px; }
  .contact_wrapper .content_wrapper {
    position: relative;
    margin-bottom: 20%; }
    .contact_wrapper .content_wrapper .single_words {
      position: absolute;
      top: -13%;
      left: -4%;
      width: 88vw;
      height: 125%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      z-index: -1; }
      .contact_wrapper .content_wrapper .single_words h2 {
        opacity: 0.65; }
      .contact_wrapper .content_wrapper .single_words .word1 {
        align-self: start; }
      .contact_wrapper .content_wrapper .single_words .word2 {
        align-self: end; }
    .contact_wrapper .content_wrapper .main_heading {
      margin-left: 8vw; }
      .contact_wrapper .content_wrapper .main_heading h1 {
        line-height: 100%;
        font-size: 39.81px;
        font-weight: 700; }
      .contact_wrapper .content_wrapper .main_heading .line3 {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: 700;
        font-size: 39.81px;
        line-height: 64px;
        text-transform: lowercase; }
        .contact_wrapper .content_wrapper .main_heading .line3 .pink_dot {
          margin-left: -10px; }
  .contact_wrapper .form_wrapper {
    width: 84vw;
    margin: 0 auto 20%; }
    .contact_wrapper .form_wrapper form {
      display: flex;
      flex-direction: column; }
      .contact_wrapper .form_wrapper form .name,
      .contact_wrapper .form_wrapper form .email,
      .contact_wrapper .form_wrapper form .message {
        width: 100%;
        display: block;
        padding: 30px 2px 10px;
        background: #0a0908;
        border: none;
        border-bottom: 1px solid rgba(255, 0, 114, 0.5);
        margin-bottom: 0.5px;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #fafafa;
        caret-color: #ff0072;
        resize: none;
        outline: none;
        user-select: none; }
        .contact_wrapper .form_wrapper form .name:hover, .contact_wrapper .form_wrapper form .name:focus,
        .contact_wrapper .form_wrapper form .email:hover,
        .contact_wrapper .form_wrapper form .email:focus,
        .contact_wrapper .form_wrapper form .message:hover,
        .contact_wrapper .form_wrapper form .message:focus {
          background: #0a0908;
          border-bottom: 1.5px solid #ff0072;
          transition: all 0.5s;
          color: #fafafa;
          margin-bottom: 0px; }
      .contact_wrapper .form_wrapper form input:-webkit-autofill,
      .contact_wrapper .form_wrapper form input:-webkit-autofill:hover,
      .contact_wrapper .form_wrapper form input:-webkit-autofill:focus,
      .contact_wrapper .form_wrapper form input:-webkit-autofill:active {
        -webkit-transition-delay: 99999s;
        transition-delay: 99999s; }
      .contact_wrapper .form_wrapper form .message {
        padding-top: 35px;
        line-height: 14px;
        padding-bottom: 0px; }
      .contact_wrapper .form_wrapper form .submit {
        width: 40px;
        margin: 50px 0px 0px 0px;
        opacity: 0.3;
        transition: opacity 0.3s ease-out;
        user-select: none; }
        .contact_wrapper .form_wrapper form .submit:hover, .contact_wrapper .form_wrapper form .submit:focus {
          opacity: 1; }
  .contact_wrapper .contact_footer {
    padding-bottom: 20%; }
    .contact_wrapper .contact_footer .icons {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 8vw;
      grid-gap: 10px;
      user-select: none; }
      .contact_wrapper .contact_footer .icons a {
        opacity: 0.4;
        transition: opacity 0.25s ease-out;
        padding: 10px; }
        .contact_wrapper .contact_footer .icons a:hover, .contact_wrapper .contact_footer .icons a:focus {
          opacity: 1; }
    .contact_wrapper .contact_footer p {
      display: none; }
  .contact_wrapper .email_alternate {
    display: none; }
  @media only screen and (min-width: 330px) {
    .contact_wrapper .content_wrapper .single_words {
      top: -16%;
      width: 95vw;
      height: 130%; }
      .contact_wrapper .content_wrapper .single_words h2 {
        opacity: 0.65;
        font-size: 47.78px; }
    .contact_wrapper .content_wrapper .main_heading {
      margin-left: 8vw; }
      .contact_wrapper .content_wrapper .main_heading h1 {
        font-size: 47.78px; }
      .contact_wrapper .content_wrapper .main_heading .line3 {
        font-size: 47.78px; }
        .contact_wrapper .content_wrapper .main_heading .line3 .pink_dot {
          margin-left: -10px; } }
  @media only screen and (min-width: 500px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 74vw; } }
  @media only screen and (min-width: 700px) {
    .contact_wrapper {
      padding-top: 25vh;
      padding-bottom: 20vh; }
      .contact_wrapper .content_wrapper {
        margin-bottom: 8%; }
        .contact_wrapper .content_wrapper .single_words {
          top: -20%;
          left: -5%;
          width: 95vw;
          height: 135%; }
          .contact_wrapper .content_wrapper .single_words h2 {
            opacity: 0.5;
            font-size: 82.56px; }
        .contact_wrapper .content_wrapper .main_heading {
          margin-left: 8vw; }
          .contact_wrapper .content_wrapper .main_heading h1 {
            line-height: 100%;
            font-size: 82.56px;
            font-weight: 700; }
          .contact_wrapper .content_wrapper .main_heading .line3,
          .contact_wrapper .content_wrapper .main_heading .pink_dot {
            font-size: 82.56px; }
            .contact_wrapper .content_wrapper .main_heading .line3 .pink_dot,
            .contact_wrapper .content_wrapper .main_heading .pink_dot .pink_dot {
              margin-left: -15px; }
      .contact_wrapper .form_wrapper {
        width: 350px;
        margin: 0px 0px 80px 8vw; }
      .contact_wrapper .contact_footer {
        padding-bottom: 0; } }
  @media only screen and (min-width: 850px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 70vw; } }
  @media only screen and (min-width: 1024px) {
    .contact_wrapper {
      padding-top: 25vh;
      padding-bottom: 20vh; }
      .contact_wrapper .content_wrapper {
        margin-bottom: 12%; }
        .contact_wrapper .content_wrapper .single_words {
          left: -3%;
          width: 75vw; }
      .contact_wrapper .form_wrapper {
        margin-bottom: 120px; } }
  @media only screen and (min-width: 1200px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 65vw; } }
  @media only screen and (min-width: 1360px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 58vw; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .contact_wrapper {
      height: 100vh;
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 0; }
      .contact_wrapper .content_wrapper {
        top: -5%;
        margin-bottom: 0; }
        .contact_wrapper .content_wrapper .single_words {
          top: -15%;
          width: 70vw;
          height: 130%; }
          .contact_wrapper .content_wrapper .single_words h2 {
            font-size: 118.88px; }
        .contact_wrapper .content_wrapper .main_heading {
          margin-left: 8vw;
          user-select: none; }
          .contact_wrapper .content_wrapper .main_heading h1 {
            font-size: 118.88px; }
          .contact_wrapper .content_wrapper .main_heading .line3,
          .contact_wrapper .content_wrapper .main_heading .pink_dot {
            font-size: 118.88px; }
            .contact_wrapper .content_wrapper .main_heading .line3 .pink_dot,
            .contact_wrapper .content_wrapper .main_heading .pink_dot .pink_dot {
              margin-left: -25px; }
      .contact_wrapper .form_wrapper {
        top: -6%;
        width: 350px;
        margin: 0px;
        margin: 0px 0px 200px 100px; }
      .contact_wrapper .contact_footer {
        position: absolute;
        bottom: 15%; }
        .contact_wrapper .contact_footer .email_alternate {
          display: block;
          font-family: "Montserrat", sans-serif;
          letter-spacing: -0.02em;
          margin-left: 8.5vw;
          margin-top: 1rem;
          display: flex; }
          .contact_wrapper .contact_footer .email_alternate .phrase1 {
            opacity: 0.5;
            color: #fafafa;
            font-size: 14px;
            font-weight: 400;
            user-select: none; }
          .contact_wrapper .contact_footer .email_alternate .phrase2 {
            color: #ff0072;
            font-size: 14px;
            margin-left: 6px;
            font-weight: 400;
            opacity: 0.8; } }
  @media only screen and (min-width: 1900px) {
    .contact_wrapper .content_wrapper {
      top: -5%;
      margin-bottom: 0; }
      .contact_wrapper .content_wrapper .single_words {
        top: -15%;
        width: 65vw;
        height: 130%; }
        .contact_wrapper .content_wrapper .single_words h2 {
          font-size: 142.66px; }
      .contact_wrapper .content_wrapper .main_heading {
        margin-left: 8vw; }
        .contact_wrapper .content_wrapper .main_heading h1 {
          font-size: 142.66px; }
        .contact_wrapper .content_wrapper .main_heading .line3,
        .contact_wrapper .content_wrapper .main_heading .pink_dot {
          font-size: 142.66px; }
    .contact_wrapper .form_wrapper {
      margin: 0px 0px 250px 150px; }
    .contact_wrapper .contact_footer {
      position: absolute;
      bottom: 15%; } }
  @media only screen and (min-width: 2100px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 55vw; }
    .contact_wrapper .content_wrapper .form_wrapper {
      width: 400px;
      margin: 0px 0px 300px 400px; } }
  @media only screen and (min-width: 2560px) {
    .contact_wrapper .content_wrapper .single_words {
      width: 53vw; }
      .contact_wrapper .content_wrapper .single_words h2 {
        font-size: 142.66px; }
    .contact_wrapper .form_wrapper {
      width: 400px;
      margin: 0px 0px 300px 500px; }
    .contact_wrapper .contact_footer {
      position: absolute;
      bottom: 20%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * img {
    display: block; }

html {
  scroll-behavior: smooth; }

html::-webkit-scrollbar {
  width: 6px; }

html::-webkit-scrollbar-track {
  border-radius: 10px; }

html::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(255, 0, 114, 0.5); }

html::-webkit-scrollbar-thumb:hover {
  background: #ff0072;
  border-radius: 20px; }

#preloader {
  background: #0a0908;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #preloader img {
    width: 33.3vw; }
    @media only screen and (min-width: 700px) {
      #preloader img {
        width: 22vw; } }
    @media only screen and (min-width: 1440px) and (orientation: landscape) {
      #preloader img {
        width: 12vw; } }
    @media only screen and (min-width: 1900px) {
      #preloader img {
        width: 10vw; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0a0908;
  font-family: sans-serif;
  overflow-x: hidden; }
  body p,
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body a {
    color: #fafafa; }
  body.no-scroll {
    height: 100%;
    overflow: hidden; }

.single_words h2 {
  font-family: Sainte Colombe;
  font-style: italic;
  font-size: 39.81px;
  line-height: 100%;
  letter-spacing: -0.02em;
  -webkit-text-fill-color: #0a0908;
  text-shadow: 1px 0 0 rgba(255, 0, 114, 0.5), 0 -1px 0 rgba(255, 0, 114, 0.5), 0 1px 0 rgba(255, 0, 114, 0.5), -1px 0 0 rgba(255, 0, 114, 0.5); }

.main_heading h1 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 39.81px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-style: normal; }

span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 39.81px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ff0072;
  margin-left: -7px; }

p {
  font-family: Lato;
  font-weight: 400;
  line-height: 142.4%;
  letter-spacing: -0.02em; }

.btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ff0072;
  color: #fafafa;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Lato;
  letter-spacing: -0.02em;
  font-size: 14px;
  line-height: 78%;
  transition: all 0.2s ease-in-out; }
  .btn:hover {
    background: #ff0072; }

.footer {
  position: absolute;
  bottom: 10%; }
  .footer .icons {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px; }
    .footer .icons a {
      opacity: 0.4;
      transition: opacity 0.25s ease-out;
      padding: 10px; }
      .footer .icons a:hover, .footer .icons a:focus {
        opacity: 1; }

.hamburger_container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  background: #0a0908;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hamburger_container.active {
    left: 0;
    opacity: 1;
    transform: scale(1); }
    .hamburger_container.active .main_nav {
      pointer-events: all; }
  .hamburger_container h2 {
    font-size: 47.78px; }
  .hamburger_container .main_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-top: -23px;
    z-index: 2;
    pointer-events: none; }
    .hamburger_container .main_nav li {
      margin-bottom: 20px;
      position: relative;
      display: block;
      cursor: pointer;
      width: max-content; }
      .hamburger_container .main_nav li .nav_links {
        text-decoration: none;
        text-transform: uppercase;
        line-height: 160%;
        text-align: center;
        letter-spacing: -0.06em; }
        .hamburger_container .main_nav li .nav_links .number {
          font-family: Lato;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;
          color: #ff0072;
          opacity: 0.5; }
        .hamburger_container .main_nav li .nav_links .part1,
        .hamburger_container .main_nav li .nav_links .part2 {
          font-style: normal;
          font-weight: 600;
          font-size: 47.78px;
          color: #fafafa; }
        .hamburger_container .main_nav li .nav_links .part1 {
          font-family: Playfair Display;
          font-style: italic; }
        .hamburger_container .main_nav li .nav_links .part2 {
          font-family: Poppins; }
    .hamburger_container .main_nav .word1 .nav_links {
      display: flex;
      align-items: flex-end;
      grid-gap: 14px;
      margin-left: -15px; }
    .hamburger_container .main_nav .word2 .nav_links {
      display: flex;
      align-items: flex-end;
      margin-right: -30px; }
    .hamburger_container .main_nav .word3 {
      margin-left: -10px; }
    .hamburger_container .main_nav .word4 {
      margin-right: -22px; }

@media only screen and (min-width: 700px) {
  .hamburger_container h2 {
    font-size: 99.07px;
    opacity: 0.5; }
  .hamburger_container .main_nav {
    margin-top: -50px; }
    .hamburger_container .main_nav .word1 .nav_links,
    .hamburger_container .main_nav .word2 .nav_links,
    .hamburger_container .main_nav .word3 .nav_links,
    .hamburger_container .main_nav .word4 .nav_links {
      line-height: 240%; }
      .hamburger_container .main_nav .word1 .nav_links .number,
      .hamburger_container .main_nav .word2 .nav_links .number,
      .hamburger_container .main_nav .word3 .nav_links .number,
      .hamburger_container .main_nav .word4 .nav_links .number {
        font-size: 19.2px; }
      .hamburger_container .main_nav .word1 .nav_links .part1,
      .hamburger_container .main_nav .word1 .nav_links .part2,
      .hamburger_container .main_nav .word2 .nav_links .part1,
      .hamburger_container .main_nav .word2 .nav_links .part2,
      .hamburger_container .main_nav .word3 .nav_links .part1,
      .hamburger_container .main_nav .word3 .nav_links .part2,
      .hamburger_container .main_nav .word4 .nav_links .part1,
      .hamburger_container .main_nav .word4 .nav_links .part2 {
        font-size: 99.07px; }
    .hamburger_container .main_nav .word1 .nav_links {
      grid-gap: 25px; }
  .hamburger_container .footer {
    bottom: 5%; } }

@media only screen and (min-width: 1440px) and (orientation: landscape) {
  .hamburger_container h2 {
    font-size: 118.88px; }
  .hamburger_container .main_nav {
    margin-top: -60px; }
    .hamburger_container .main_nav li {
      margin-bottom: -5px; }
    .hamburger_container .main_nav .word1 .nav_links,
    .hamburger_container .main_nav .word2 .nav_links,
    .hamburger_container .main_nav .word3 .nav_links,
    .hamburger_container .main_nav .word4 .nav_links {
      line-height: 330%; }
      .hamburger_container .main_nav .word1 .nav_links .number,
      .hamburger_container .main_nav .word2 .nav_links .number,
      .hamburger_container .main_nav .word3 .nav_links .number,
      .hamburger_container .main_nav .word4 .nav_links .number {
        font-size: 23.04px; }
      .hamburger_container .main_nav .word1 .nav_links .part1,
      .hamburger_container .main_nav .word1 .nav_links .part2,
      .hamburger_container .main_nav .word2 .nav_links .part1,
      .hamburger_container .main_nav .word2 .nav_links .part2,
      .hamburger_container .main_nav .word3 .nav_links .part1,
      .hamburger_container .main_nav .word3 .nav_links .part2,
      .hamburger_container .main_nav .word4 .nav_links .part1,
      .hamburger_container .main_nav .word4 .nav_links .part2 {
        font-size: 118.88px; } }

@media only screen and (min-width: 1900px) {
  .hamburger_container h2 {
    font-size: 142.66px; }
  .hamburger_container .main_nav {
    margin-top: -80px; }
    .hamburger_container .main_nav li {
      margin-bottom: -10px; }
    .hamburger_container .main_nav .word1 .nav_links,
    .hamburger_container .main_nav .word2 .nav_links,
    .hamburger_container .main_nav .word3 .nav_links,
    .hamburger_container .main_nav .word4 .nav_links {
      line-height: 350%; }
      .hamburger_container .main_nav .word1 .nav_links .number,
      .hamburger_container .main_nav .word2 .nav_links .number,
      .hamburger_container .main_nav .word3 .nav_links .number,
      .hamburger_container .main_nav .word4 .nav_links .number {
        font-size: 27.65px; }
      .hamburger_container .main_nav .word1 .nav_links .part1,
      .hamburger_container .main_nav .word1 .nav_links .part2,
      .hamburger_container .main_nav .word2 .nav_links .part1,
      .hamburger_container .main_nav .word2 .nav_links .part2,
      .hamburger_container .main_nav .word3 .nav_links .part1,
      .hamburger_container .main_nav .word3 .nav_links .part2,
      .hamburger_container .main_nav .word4 .nav_links .part1,
      .hamburger_container .main_nav .word4 .nav_links .part2 {
        font-size: 142.66px; } }

@font-face {
  font-family: Sainte Colombe;
  src: url("../fonts/Sainte Colombe Italic.otf");
  font-weight: normal; }
