@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
#navbar {
  min-height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  background: #0a0908; }
  #navbar nav {
    display: flex;
    align-items: center;
    margin: 4.92vh 8vw 2.4vh; }
    #navbar nav .logo img {
      width: 89.73px;
      height: 28.77px; }
    #navbar nav .hamburger_open {
      margin-left: auto; }
      #navbar nav .hamburger_open img {
        width: 17.95px;
        height: 6.23px; }
  @media only screen and (min-width: 700px) {
    #navbar nav {
      margin: 5vh 6vw 2vh; }
      #navbar nav .logo img {
        width: 93.6px;
        height: 29.86px; }
      #navbar nav .hamburger_open img {
        width: 19.18px;
        height: 6.66px; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    #navbar nav {
      margin: 6.8vh 6.9vw 3vh; }
      #navbar nav .logo img {
        width: 113.56px;
        height: 36.22px; }
      #navbar nav .hamburger_open img {
        width: 27px;
        height: 9px; } }
  @media only screen and (min-width: 1900px) {
    #navbar nav {
      margin: 7.4vh 6.7vw 3.2vh; }
      #navbar nav .logo img {
        margin-left: -20px;
        width: 141.1px;
        height: 45.25px; }
      #navbar nav .hamburger_open img {
        margin-right: -20px;
        width: 30px;
        height: 10px; } }

.landing {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .landing .single_words .word1 {
    position: absolute;
    opacity: 0.65;
    top: 17.7vh;
    left: 57.6vw; }
  .landing .single_words .word2 {
    position: absolute;
    opacity: 0.65;
    top: 56.2vh;
    left: 8vw; }
  .landing .single_words .word3 {
    position: absolute;
    opacity: 0.65;
    top: 76.2vh;
    left: 62.8vw; }
  .landing .landing_image {
    height: 56.6vh;
    width: 61.6vw;
    margin: 21.7vh auto 0; }
    .landing .landing_image .large_img {
      display: none; }
    .landing .landing_image .small_img {
      opacity: 0.8;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
  .landing .main_heading {
    position: absolute;
    top: 44.8vh; }
    .landing .main_heading .line1 {
      margin-left: 8vw; }
    .landing .main_heading .line2 {
      margin-left: 20vw; }
  @media only screen and (min-width: 700px) {
    .landing .single_words h2 {
      font-size: 82.56px; }
    .landing .single_words .word1 {
      opacity: 0.5;
      top: 12vh;
      left: 62.1vw; }
    .landing .single_words .word2 {
      opacity: 0.5;
      top: 56.9vh;
      left: 6vw; }
    .landing .single_words .word3 {
      opacity: 0.5;
      top: 79.1vh;
      left: 66.9vw; }
    .landing .landing_image {
      height: 65.2vh;
      width: 56vw;
      margin: 17.3vh auto 0; }
    .landing .main_heading {
      top: 43vh; }
      .landing .main_heading .line1 {
        margin-left: 6vw;
        font-size: 82.56px; }
      .landing .main_heading .line2 {
        margin-left: 21.8vw;
        font-size: 82.56px; }
        .landing .main_heading .line2 span {
          font-size: 82.56px;
          margin-left: -19px; } }
  @media only screen and (min-width: 1024px) {
    .landing .main_heading .line1 {
      margin-left: 10vw; }
    .landing .main_heading .line2 {
      margin-left: 31.7vw; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .landing .single_words .word1 {
      top: 15.8vh;
      left: 66.5vw;
      font-size: 118.88px; }
    .landing .single_words .word2 {
      top: 60vh;
      left: 6.9vw;
      font-size: 118.88px; }
    .landing .single_words .word3 {
      top: 68.6vh;
      left: 70.56vw;
      font-size: 118.88px; }
    .landing .landing_image {
      height: 48vh;
      width: 59.1vw;
      margin: 26.7vh auto 0; }
      .landing .landing_image .small_img {
        display: none; }
      .landing .landing_image .large_img {
        display: block;
        opacity: 0.8;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .landing .main_heading {
      top: 39.2vh; }
      .landing .main_heading .line1 {
        margin-left: 12.3vw;
        font-size: 118.88px; }
      .landing .main_heading .line2 {
        margin-left: 33.9vw;
        font-size: 118.88px; }
        .landing .main_heading .line2 span {
          font-size: 118.88px;
          margin-left: -29px; } }
  @media only screen and (min-width: 1900px) {
    .landing .single_words .word1 {
      top: 11.8vh;
      width: 456.94px;
      height: 146.09px; }
    .landing .single_words .word2 {
      left: 10vw;
      width: 491.02px;
      height: 111.85px; }
    .landing .single_words .word3 {
      width: 385.9px;
      height: 111.85px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * img {
    display: block; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0a0908;
  font-family: sans-serif; }
  body p,
  body h1,
  body h3,
  body h5,
  body h6,
  body a {
    color: #fafafa; }

.single_words h2 {
  font-family: Sainte Colombe;
  font-style: italic;
  font-size: 39.81px;
  line-height: 100%;
  letter-spacing: -0.02em;
  opacity: 0.5;
  -webkit-text-fill-color: #0a0908;
  text-shadow: 1px 0 0 rgba(255, 0, 114, 0.5), 0 -1px 0 rgba(255, 0, 114, 0.5), 0 1px 0 rgba(255, 0, 114, 0.5), -1px 0 0 rgba(255, 0, 114, 0.5); }

.main_heading h1 {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 39.81px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-style: normal; }

span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 39.81px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ff0072;
  margin-left: -7px; }

@font-face {
  font-family: Sainte Colombe;
  src: url("../fonts/Sainte Colombe Italic.otf");
  font-weight: normal; }
