.about_section {
	position: relative;
	.about {
		height: 82vh;
		width: 100%;
		// overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: 30px;
		.single_words {
			position: absolute;
			top: 10%;
			width: 88vw;
			height: 65vh;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-between;
			opacity: 0.65;
			z-index: -2;
			.word2 {
				align-self: start;
			}
		}

		.about_image {
			position: relative;
			// width: 100%;
			width: 76vw;
			height: 56vh;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 15px;
			}

			.image_overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				background: #7b2243;
				opacity: 0.3;
				border-radius: 15px;
			}
		}
		.main_heading {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			top: 81%;
			transform: translateY(-50%);
			width: 96vw;
			h1 {
				line-height: 90%;
			}
			.line2 {
				align-self: end;
				// flex-wrap: wrap;
			}
		}
	}

	.about_me {
		margin-top: -10%;
		margin-bottom: 200px;
		.para_aboutme {
			// position: relative;
			width: 88vw;
			margin: 0px auto;
		}
	}

	.content_wrapper {
		// position: absolute;
		// bottom: 10%;
		margin-bottom: 30px;
		p {
			width: max-content;
			font-size: 14px;
			font-family: Montserrat;
			opacity: 0.5;
			margin: 0 auto 8px;
		}
		img {
			margin: 0 auto;
		}
	}
	@media only screen and (min-width: 700px) {
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		.about {
			// height: 0;
			margin-top: 0;
			.single_words {
				top: 0;
				width: 50vw;
				height: 52vh;
			}
			.about_image {
				width: 76vw;
				height: 56vh;
			}
		}
	}

	// @media only screen and (min-width: 1440px) and (orientation: landscape) {
	// }
	// @media only screen and (min-width: 1900px) {
	// }
	// @media only screen and (min-width: 2560px) {
	// }
}
