.contact_footer {
	overflow: hidden;
	margin-bottom: 60px;
	.icons {
		height: 100%;
		// width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-left: 8vw;
		grid-gap: 30px;
	}
	@media only screen and (min-width: 700px) {
		margin-bottom: 100px;
	}
}
