.hamburger_container {
  height: 100%;
  // max-height: 100vh;
  width: 100vw;
  background-color: #0a0908;

  position: fixed;
  top: 0;
  // left: -102%;
  left: 0;
  opacity: 0;

  pointer-events: none;
  // transform: scale(1.1);

  // transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  // display: none;

  &.active {
    left: 0;
    opacity: 1;
    // transform: scale(1);
    // display: block;
    .main_nav {
      pointer-events: all;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 47.78px;
  }

  .main_nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style-type: none;
    margin-top: -23px;
    // margin-bottom: 50px;
    z-index: 2;

    pointer-events: none;
    li {
      margin-bottom: 20px;
      position: relative;
      display: block;
      cursor: pointer;
      width: max-content;

      .nav_links {
        text-decoration: none;
        text-transform: uppercase;
        line-height: 160%;
        text-align: center;
        letter-spacing: -0.06em;
        // pointer-events: all;

        .numbers {
          font-family: Lato;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;

          color: #ff0072;
          opacity: 0.5;
        }
        .num_one {
          margin-right: 8px;
        }
        .left_word,
        .right_word {
          font-style: normal;
          font-weight: 600;
          font-size: 47.78px;
          color: #fafafa;
        }
        .left_word {
          font-family: Playfair Display;
          font-style: italic;
        }
        .right_word {
          font-family: Poppins;
        }
      }
    }
    .word1 {
      .nav_links {
        display: flex;
        align-items: flex-end;
        grid-gap: 14px;
        margin-left: -15px;
      }
    }
    .word2 {
      .nav_links {
        display: flex;
        align-items: flex-end;
        margin-right: -30px;
      }
    }
    .word3 {
      margin-left: -10px;
    }
    .word4 {
      margin-right: -22px;
    }
  }
}

@media only screen and (min-width: 700px) {
  .hamburger_container {
    h2 {
      font-size: 99.07px;
      opacity: 0.5;
    }
    .main_nav {
      margin-top: -50px;
      .word1,
      .word2,
      .word3,
      .word4 {
        .nav_links {
          line-height: 240%;
          .numbers {
            font-size: 19.2px;
          }
          .num_one {
            margin-right: 15px;
          }
          .left_word,
          .right_word {
            font-size: 99.07px;
            opacity: 1;
          }
        }
      }
      .word1 {
        .nav_links {
          grid-gap: 25px;
        }
      }
    }
    .footer {
      bottom: 5%;
    }
  }
}
@media only screen and (min-width: 1440px) and (orientation: landscape) {
  .hamburger_container {
    h2 {
      font-size: 118.88px;
    }
    .main_nav {
      li {
        margin-bottom: -5px;
      }
      margin-top: -60px;
      .word1,
      .word2,
      .word3,
      .word4 {
        .nav_links {
          line-height: 330%;
          .numbers {
            font-size: 23.04px;
          }
          .num_one {
            margin-right: 20px;
          }
          .left_word,
          .right_word {
            font-size: 118.88px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1900px) {
  .hamburger_container {
    h2 {
      font-size: 142.66px;
    }
    .main_nav {
      li {
        margin-bottom: -10px;
      }
      margin-top: -80px;
      .word1,
      .word2,
      .word3,
      .word4 {
        .nav_links {
          line-height: 350%;
          .numbers {
            font-size: 27.65px;
          }
          .left_word,
          .right_word {
            font-size: 142.66px;
          }
        }
      }
    }
  }
}
