.landing {
	height: 100vh;
	width: 100%;
	position: relative;
	// margin: 0 8vw;
	overflow: hidden;
	// z-index: 1;
	.single_words {
		// height: 100%;
		// width: 100;
		// margin: 0 8vw;
		// height: 100%;
		.word1 {
			position: absolute;
			// z-index: 2;
			top: 17.5vh;
			left: 57vw;
		}
		.word2 {
			position: absolute;
			// z-index: 2;
			top: 51.3vh;
			left: 8vw;
		}
		.word3 {
			position: absolute;
			// z-index: 2;
			top: 75.5vh;
			left: 62vw;
		}
	}
	.landing_image {
		// display: flex;
		// align-items: center;
		// justify-content: center;
		height: 56.6vh;
		width: 61.6vw;
		// top: 18.4vh;
		// left: 18.6vw;
		margin: 21.6vh auto 0;

		img {
			// position: absolute;
			// z-index: 3;
			opacity: 0.8;
			border-radius: 20px;
			// width: 100%;
			// margin: 0 15vw;
			width: 100%;
			// height: 63vh;
			height: 100%;
			object-fit: cover;
			transform: rotate(180deg);
		}
	}

	.main_heading {
		position: absolute;
		// z-index: 4;
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		// justify-content: center;
		top: 43.8vh;
		.line1 {
			margin-left: 8vw;
			// margin-bottom: 10px;
		}
		.line2 {
			margin-left: 22vw;
		}
	}

	@media only screen and (min-width: 768px) {
		.single_words {
			h2 {
				font-size: 82.56px;
				opacity: 0.5;
			}

			.word1 {
				top: 17.5vh;
				left: 57vw;
			}
		}
	}
	@media only screen and (min-width: 1024px) {
	}
	@media only screen and (min-width: 1440px) and (orientation: landscape) {
	}
	@media only screen and (min-width: 1900px) {
	}
}
