//   UNIVERSAL   //

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	img {
		display: block;
	}
}

//   BODY   //

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #0a0908;
	p,
	h1,
	h2,
	h3,
	h5,
	h6,
	a {
		color: #fafafa;
	}
}

//   preloader   //
