.services {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 170px;

  .service_landing {
    position: relative;
    height: 45vh;
    width: 84vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image_wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      .single_words {
        position: absolute;
        top: -8%;
        left: 0%;

        width: 84vw;
        height: 115%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        z-index: -1;

        h2 {
          opacity: 0.65;
          width: min-content;
          font-size: 39.81px;
        }
        .word2 {
          align-self: start;
        }
      }

      .landing_image {
        position: absolute;
        height: 100%;
        width: 100%;

        img {
          position: absolute;
          border-radius: 18px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .image_overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          background: #0a0908;
          opacity: 0.7;
          border-radius: 18px;
        }
      }
    }
    .heading_wrapper {
      position: absolute;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      z-index: 5;
      .line1,
      .line2 {
        line-height: 90%;
        font-family: Sainte Colombe;
        font-weight: 700;
        align-self: flex-start;
      }
      .line1 {
        font-style: italic;
        font-size: 27.65px;
      }
      .line2 {
        font-style: bold;
        font-size: 39.81px;
        overflow-wrap: break-word;
        // align-self: initial;
      }
    }
  }

  .services_content {
    max-width: 405px;
    margin: 80px 8vw 130px;

    .part1,
    .part2,
    .part3 {
      margin-bottom: 24px;
    }

    h3,
    li {
      font-family: "Lato";
      font-weight: 400;
      color: #fafafa;
      font-size: 16px;
    }
    h3 {
      opacity: 0.5;
      margin-bottom: 10px;
    }

    ul {
      li {
        list-style: none;
        color: #fafafa;
        margin-top: 8px;
      }
    }
  }

  .content_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 8px;
    padding-bottom: 30px;
    p {
      opacity: 0.5;
      font-size: 14px;
    }
  }
}
