@import "../styles.scss";
@import "../repeated_code.scss";
@import "../header.scss";
@import "food.scss";
@import "torii.scss";
@import "firewatch.scss";
@import "../ham.scss";

//  IMPORT FONTS
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@font-face {
	font-family: Sainte Colombe;
	src: url("../../fonts/Sainte\ Colombe\ Italic.otf");
	font-weight: normal;
}
