// .swiper_wrapper {
// 	position: fixed;
// 	width: 100%;
// 	height: 100vh;
// 	z-index: 999;
// 	background-color: black;

// 	.image_wrapper {
// 		.swiper_image {
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			display: block;
// 			width: 100%;
// 			height: 100%;
// 			object-fit: cover;
// 		}
// 	}
// }
.swiper_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: #0a0908;
  z-index: 15;
  display: none;

  &.active {
    display: block;
  }

  .swiper-close {
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
    z-index: 2;

    img {
      margin: 15px;
      width: 16px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    @media only screen and (min-width: 1024px) and (orientation: landscape) {
      top: 50px;
      right: 50px;
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 2rem;
      img {
        width: 100%;
        height: 100%;
        align-items: center;
        object-fit: contain;
      }
    }
    // .swiper-pagination {
    // 	// background-color: #ffffff;
    // 	.swiper-pagination-bullet {
    // 		::after {
    // 			color: #fff;
    // 		}
    // 	}
    // }
    // .swiper-button-next,
    // .swiper-button-prev {
    // 	right: 10px;
    // 	padding: 30px;
    // 	color: #ffffff;

    // 	&::after {
    // 		font-size: 1.5rem;
    // 	}
    // }

    .swiper-pagination {
      bottom: 20px !important;
    }
    .swiper-pagination-bullet {
      background: rgb(74, 73, 73);
    }
    .swiper-pagination-bullet-active {
      background: #d7d7d7;
    }

    .swiper-button-next,
    .swiper-button-prev {
      opacity: 0;
      pointer-events: none;
      @media only screen and (min-width: 1024px) and (orientation: landscape) {
        opacity: 0.5;
        pointer-events: all;
        cursor: pointer;
        // display: block;
        // font-size: 1rem;
        // padding: 20px;
        img {
          top: 50%;
          width: 14px;
          margin: -15px;

          // padding: 10px;
        }
        // border: 2px solid black;
        // background-color: white;
        // background-color: rgba(255, 255, 255, 0.5);
        // right: 10px;
        // padding: 30px;
        // color: #000 !important;
        // fill: black !important;
        // stroke: black !important;
      }

      transition: opacity 200ms ease-out;
      padding: 1rem 2rem;
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
    // .swiper-button-next {
    //   display: block;
    //   background-image: image();
    // }
    // .swiper-button-prev {
    //   background-image: url("previous.svg");
    // }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      opacity: 0;
    }
  }
}
