.work_landing {
  .image_wrapper {
    .landing_image {
      img {
        border-radius: 18px;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        object-fit: cover;
      }
      .image_overlay {
        opacity: 0.3;
      }
    }
  }
}
